/* background colors */
.bg{

    /* white */
    &White {@include disable_pattern; background-color: $white;}
    &GhostWhite {@include disable_pattern; background-color: $ghostWhite;}
    &WhiteSmoke {@include disable_pattern; background-color: $whiteSmoke;}
    &BabyPowder {@include disable_pattern; background-color: $babyPowder;}
    &Snow {@include disable_pattern; background-color: $snow;}
    &Ivory {@include disable_pattern; background-color: $ivory;}
    &FloralWhite {@include disable_pattern; background-color: $floralWhite;}
    &Seashell {@include disable_pattern; background-color: $seashell;}
    &Cornsilk {@include disable_pattern; background-color: $cornsilk;}
    &OldLace {@include disable_pattern; background-color: $oldLace;}
    &Cream {@include disable_pattern; background-color: $cream;}
    &Beige {@include disable_pattern; background-color: $beige;}
    &Parchment {@include disable_pattern; background-color: $parchment;}
    &AntiqueWhite {@include disable_pattern; background-color: $antiqueWhite;}
    &Champagne {@include disable_pattern; background-color: $champagne;}
    &Eggshell {@include disable_pattern; background-color: $eggshell;}
    &DutchWhite {@include disable_pattern; background-color: $dutchWhite;}
    &Bone {@include disable_pattern; background-color: $bone;}
    &Vanilla {@include disable_pattern; background-color: $vanilla;}
    &Flax {@include disable_pattern; background-color: $flax;}
    &NavajoWhite {@include disable_pattern; background-color: $navajoWhite;}
    &Alabaster {@include disable_pattern; background-color: $alabaster;}
    &Chiffon {@include disable_pattern; background-color: $chiffon;}
    &UnresolvedProblem {@include disable_pattern; background-color: $unresolvedProblem;}
    &OldWood {@include disable_pattern; background-color: $oldWood;}
    &RoseWhite {@include disable_pattern; background-color: $roseWhite;}
    &VistaWhite {@include disable_pattern; background-color: $vistaWhite;}
    &LinkWhite {@include disable_pattern; background-color: $linkWhite;}
    &Spring {@include disable_pattern; background-color: $spring;}
    &SnowDrift {@include disable_pattern; background-color: $snowDrift;}
    &Peppermint {@include disable_pattern; background-color: $peppermint;}
    &Merino {@include disable_pattern; background-color: $merino;}
    &HalfAndHalf {@include disable_pattern; background-color: $halfAndHalf;}
    &IslandSpice {@include disable_pattern; background-color: $islandSpice;}
    &SoftPeach {@include disable_pattern; background-color: $softPeach;}
    &Harp {@include disable_pattern; background-color: $harp;}
    &TitanWhite {@include disable_pattern; background-color: $titanWhite;}
    &AudienceAnger {@include disable_pattern; background-color: $audienceAnger;}
    &OrangeWhite {@include disable_pattern; background-color: $orangeWhite;}
    &CoughMixture {@include disable_pattern; background-color: $coughMixture;}
    &AlbescentWhite {@include disable_pattern; background-color: $albescentWhite;}
    &Coconut {@include disable_pattern; background-color: $coconut;}
    &PinkSalt {@include disable_pattern; background-color: $pinkSalt;}
    &Frost {@include disable_pattern; background-color: $frost;}
    &Linen {@include disable_pattern; background-color: $linen;}
    &Rice {@include disable_pattern; background-color: $rice;}
    &Daisy {@include disable_pattern; background-color: $daisy;}
    &Powder {@include disable_pattern; background-color: $powder;}
    &Pearl {@include disable_pattern; background-color: $pearl;}
    &ParisWhite {@include disable_pattern; background-color: $parisWhite;}
    &CupCake {@include disable_pattern; background-color: $cupCake;}
    &WhiteDove {@include disable_pattern; background-color: $whiteDove;}
    &WhiteWhisper {@include disable_pattern; background-color: $whiteWhisper;}
    &Lexicon {@include disable_pattern; background-color: $lexicon;}
    &GreekVilla {@include disable_pattern; background-color: $greekVilla;}
    &WhiteDiamond {@include disable_pattern; background-color: $whiteDiamond;}
    &DecoratorWhite {@include disable_pattern; background-color: $decoratorWhite;}
    &WinterWhite {@include disable_pattern; background-color: $winterWhite;}
    &SpatialWhite {@include disable_pattern; background-color: $spatialWhite;}
    &HogBristleQuarter {@include disable_pattern; background-color: $hogBristleQuarter;}
    &SimplyWhite {@include disable_pattern; background-color: $simplyWhite;}
    &OysterWhite {@include disable_pattern; background-color: $oysterWhite;}
    &WhiteOnWhite {@include disable_pattern; background-color: $whiteOnWhite;}
    &LexiconQuarter {@include disable_pattern; background-color: $lexiconQuarter;}
    &AliceBlue {@include disable_pattern; background-color: $aliceBlue;}
    &Honeydew {@include disable_pattern; background-color: $honeydew;}
    &MintCream {@include disable_pattern; background-color: $mintCream;}
    &Milk {@include disable_pattern; background-color: $milk;}
    &PomeloWhite {@include disable_pattern; background-color: $pomeloWhite;}
    &AntiFlashWhite {@include disable_pattern; background-color: $antiFlashWhite;}
    &Magnolia {@include disable_pattern; background-color: $magnolia;}
    &Azure {@include disable_pattern; background-color: $azure;}
    &HuntingtonWhite {@include disable_pattern; background-color: $huntingtonWhite;}
    &AcadiaWhite {@include disable_pattern; background-color: $acadiaWhite;}
    &Gainsboro {@include disable_pattern; background-color: $gainsboro;}
    &Mercury {@include disable_pattern; background-color: $mercury;}
    &LavenderBlush {@include disable_pattern; background-color: $lavenderBlush;}
    &Isabelline {@include disable_pattern; background-color: $isabelline;}
    &Bubbles {@include disable_pattern; background-color: $bubbles;}
    &Glitter {@include disable_pattern; background-color: $glitter;}
    &Platinum {@include disable_pattern; background-color: $platinum;}
    &CosmicLatte {@include disable_pattern; background-color: $cosmicLatte;}
    &BlanchedAlmond {@include disable_pattern; background-color: $blanchedAlmond;}
    &LightYellow {@include disable_pattern; background-color: $lightYellow;}
    &NaturalWhite {@include disable_pattern; background-color: $naturalWhite;}
    &VividWhite {@include disable_pattern; background-color: $vividWhite;}
    &WhiteWisp {@include disable_pattern; background-color: $whiteWisp;}
    &AzureishWhite {@include disable_pattern; background-color: $azureishWhite;}
    &Timberwolf {@include disable_pattern; background-color: $timberwolf;}
    &PapayaWhip {@include disable_pattern; background-color: $papayaWhip;}
    &AntiqueWhiteUSA {@include disable_pattern; background-color: $antiqueWhiteUSA;}
    &Cola {@include disable_pattern; background-color: $cola;}
    &AtriumWhite {@include disable_pattern; background-color: $atriumWhite;}
    &CascadingWhite {@include disable_pattern; background-color: $cascadingWhite;}
    &CottonBall {@include disable_pattern; background-color: $cottonBall;}
    &PhotonWhite {@include disable_pattern; background-color: $photonWhite;}
    &WhiteHeat {@include disable_pattern; background-color: $whiteHeat;}
    &Whitewash {@include disable_pattern; background-color: $whitewash;}
    &ShadowWhite {@include disable_pattern; background-color: $shadowWhite;}
    &AbbeyWhite {@include disable_pattern; background-color: $abbeyWhite;}
    &AcousticWhite {@include disable_pattern; background-color: $acousticWhite;}
    &AircraftWhite {@include disable_pattern; background-color: $aircraftWhite;}
    &Ceramic {@include disable_pattern; background-color: $ceramic;}
    &CoconutButter {@include disable_pattern; background-color: $coconutButter;}
    &AbstractWhite {@include disable_pattern; background-color: $abstractWhite;}
    &BrightWhite {@include disable_pattern; background-color: $brightWhite;}
    &BrokenWhite {@include disable_pattern; background-color: $brokenWhite;}
    &BrilliantWhite {@include disable_pattern; background-color: $brilliantWhite;}
    &CommercialWhite {@include disable_pattern; background-color: $commercialWhite;}
    &FeatherWhite {@include disable_pattern; background-color: $featherWhite;}
    &SwanWhite {@include disable_pattern; background-color: $swanWhite;}
    &PolarBear {@include disable_pattern; background-color: $polarBear;}
    &PaperWhite {@include disable_pattern; background-color: $paperWhite;}
    &PacificPearl {@include disable_pattern; background-color: $pacificPearl;}
    &NightWhite {@include disable_pattern; background-color: $nightWhite;}
    &DelicateWhite {@include disable_pattern; background-color: $delicateWhite;}
    &CoconutWhite {@include disable_pattern; background-color: $coconutWhite;}
    &CakeBatter {@include disable_pattern; background-color: $cakeBatter;}
    &WhiteSand {@include disable_pattern; background-color: $whiteSand;}
    &StoneWhite {@include disable_pattern; background-color: $stoneWhite;}
    &WhiteChocolate {@include disable_pattern; background-color: $whiteChocolate;}
    &RetroWhite {@include disable_pattern; background-color: $retroWhite;}
    &HofWhite {@include disable_pattern; background-color: $hofWhite;}
    &DimWhite {@include disable_pattern; background-color: $dimWhite;}

    /* black */

    &Abbey {@include disable_pattern; background-color: $abbey;}
    &AshGray {@include disable_pattern; background-color: $ashGray;}
    &Asphalt {@include disable_pattern; background-color: $asphalt;}
    &Black {@include disable_pattern; background-color: $black;}
    &BlackBean {@include disable_pattern; background-color: $blackBean;}
    &BlackCat {@include disable_pattern; background-color: $blackCat;}
    &BlackCow {@include disable_pattern; background-color: $blackCow;}
    &BlackEel {@include disable_pattern; background-color: $blackEel;}
    &BlackOlive {@include disable_pattern; background-color: $blackOlive;}
    &Charcoal {@include disable_pattern; background-color: $charcoal;}
    &CharlestonGreen {@include disable_pattern; background-color: $charlestonGreen;}
    &DarkJungleGreen {@include disable_pattern; background-color: $darkJungleGreen;}
    &DavyGray {@include disable_pattern; background-color: $davyGray;}
    &DimGray {@include disable_pattern; background-color: $dimGray;}
    &Ebony {@include disable_pattern; background-color: $ebony;}
    &EerieBlack {@include disable_pattern; background-color: $eerieBlack;}
    &Granite {@include disable_pattern; background-color: $granite;}
    &Gray {@include disable_pattern; background-color: $gray;}
    &GrayCloud {@include disable_pattern; background-color: $grayCloud;}
    &GrayWolf {@include disable_pattern; background-color: $grayWolf;}
    &GunMetal {@include disable_pattern; background-color: $gunMetal;}
    &Iridium {@include disable_pattern; background-color: $iridium;}
    &Jet {@include disable_pattern; background-color: $jet;}
    &Licorice {@include disable_pattern; background-color: $licorice;}
    &Midnight {@include disable_pattern; background-color: $midnight;}
    &Night {@include disable_pattern; background-color: $night;}
    &Oil {@include disable_pattern; background-color: $oil;}
    &OldBurgundy {@include disable_pattern; background-color: $oldBurgundy;}
    &Onyx {@include disable_pattern; background-color: $onyx;}
    &OuterSpace {@include disable_pattern; background-color: $outerSpace;}
    &RaisinBlack {@include disable_pattern; background-color: $raisinBlack;}
    &SmokyBlack {@include disable_pattern; background-color: $smokyBlack;}
    &Taupe {@include disable_pattern; background-color: $taupe;}
    &VampireGray {@include disable_pattern; background-color: $vampireGray;}
    &BlackLeatherJacket {@include disable_pattern; background-color: $blackLeatherJacket;}
    &CafeAmericano {@include disable_pattern; background-color: $cafeAmericano;}
    &Blackberry {@include disable_pattern; background-color: $blackberry;}
    &LampBlack {@include disable_pattern; background-color: $lampBlack;}
    &ArmyUniform {@include disable_pattern; background-color: $armyUniform;}
    &Slate {@include disable_pattern; background-color: $slate;}
    &PitchBlack {@include disable_pattern; background-color: $pitchBlack;}
    &Spider {@include disable_pattern; background-color: $spider;}
    &Metal {@include disable_pattern; background-color: $metal;}
    &Grease {@include disable_pattern; background-color: $grease;}
    &Crow {@include disable_pattern; background-color: $crow;}
    &BlackRock {@include disable_pattern; background-color: $blackRock;}
    &BasaltBlack {@include disable_pattern; background-color: $basaltBlack;}
    &NeutralBlack {@include disable_pattern; background-color: $neutralBlack;}
    &BlackDenim {@include disable_pattern; background-color: $blackDenim;}
    &VampireBlack {@include disable_pattern; background-color: $vampireBlack;}
    &CoolBlack {@include disable_pattern; background-color: $coolBlack;}
    &PandaBlack {@include disable_pattern; background-color: $pandaBlack;}
    &FrostBlack {@include disable_pattern; background-color: $frostBlack;}
    &InkBlack {@include disable_pattern; background-color: $inkBlack;}
    &Raven {@include disable_pattern; background-color: $raven;}
    &Leather {@include disable_pattern; background-color: $leather;}
    &Sable {@include disable_pattern; background-color: $sable;}
    &PowerBlack {@include disable_pattern; background-color: $powerBlack;}
    &Soot {@include disable_pattern; background-color: $soot;}
    &Jade {@include disable_pattern; background-color: $jade;}
    &TrueBlack {@include disable_pattern; background-color: $trueBlack;}
    &PremiumBlack {@include disable_pattern; background-color: $premiumBlack;}
    &Obsidian {@include disable_pattern; background-color: $obsidian;}
    &BlackGrain {@include disable_pattern; background-color: $blackGrain;}
    &BlackMagic {@include disable_pattern; background-color: $blackMagic;}
    &IronBlack {@include disable_pattern; background-color: $ironBlack;}
    &RichBlack {@include disable_pattern; background-color: $richBlack;}
    &WarmBlack {@include disable_pattern; background-color: $warmBlack;}
    &BlackCoral {@include disable_pattern; background-color: $blackCoral;}
    &BlackShadows {@include disable_pattern; background-color: $blackShadows;}
    &BlackRaspberry {@include disable_pattern; background-color: $blackRaspberry;}
    &KombuGreen {@include disable_pattern; background-color: $kombuGreen;}
    &ZinnwalditeBrown {@include disable_pattern; background-color: $zinnwalditeBrown;}
    &DarkSlateGray {@include disable_pattern; background-color: $darkSlateGray;}
    &DarkCharcoal {@include disable_pattern; background-color: $darkCharcoal;}
    &RussianViolet {@include disable_pattern; background-color: $russianViolet;}
    &OliveDrab {@include disable_pattern; background-color: $oliveDrab;}
    &DarkSienna {@include disable_pattern; background-color: $darkSienna;}
    &AlienBlack {@include disable_pattern; background-color: $alienBlack;}
    &BlackChocolate {@include disable_pattern; background-color: $blackChocolate;}
    &BlueCharcoal {@include disable_pattern; background-color: $blueCharcoal;}
    &GothicGrape {@include disable_pattern; background-color: $gothicGrape;}
    &Metropolis {@include disable_pattern; background-color: $metropolis;}
    &NightShadow {@include disable_pattern; background-color: $nightShadow;}
    &OffBlack {@include disable_pattern; background-color: $offBlack;}
    &DarkRaisin {@include disable_pattern; background-color: $darkRaisin;}
    &TeaBag {@include disable_pattern; background-color: $teaBag;}
    &ElectricBlack {@include disable_pattern; background-color: $electricBlack;}
    &TechBlack {@include disable_pattern; background-color: $techBlack;}
    &DullBlack {@include disable_pattern; background-color: $dullBlack;}
    &DarkBlack {@include disable_pattern; background-color: $darkBlack;}
    &NaturalBlack {@include disable_pattern; background-color: $naturalBlack;}
    &RetroBlack {@include disable_pattern; background-color: $retroBlack;}
    &BlackGreen {@include disable_pattern; background-color: $blackGreen;}
    &DeepBlack {@include disable_pattern; background-color: $deepBlack;}
    &RefreshBlack {@include disable_pattern; background-color: $refreshBlack;}
    &RusticBlack {@include disable_pattern; background-color: $rusticBlack;}
    &RoseEbony {@include disable_pattern; background-color: $roseEbony;}
    &Liver {@include disable_pattern; background-color: $liver;}
    &PurpleTaupe {@include disable_pattern; background-color: $purpleTaupe;}
    &BlackPearl {@include disable_pattern; background-color: $blackPearl;}
    &BlackRussian {@include disable_pattern; background-color: $blackRussian;}
    &AestheticBlack {@include disable_pattern; background-color: $aestheticBlack;}
    &SignalBlack {@include disable_pattern; background-color: $signalBlack;}
    &CafeNoir {@include disable_pattern; background-color: $cafeNoir;}
    &LuxuryBlack {@include disable_pattern; background-color: $luxuryBlack;}
    &BrightBlack {@include disable_pattern; background-color: $brightBlack;}
    &BlackBlue {@include disable_pattern; background-color: $blackBlue;}
    &GlossyBlack {@include disable_pattern; background-color: $glossyBlack;}
    &IvoryBlack {@include disable_pattern; background-color: $ivoryBlack;}
    &PastelBlack {@include disable_pattern; background-color: $pastelBlack;}
    &FashionBlack {@include disable_pattern; background-color: $fashionBlack;}
    &GraphiteBlack {@include disable_pattern; background-color: $graphiteBlack;}
    &BlackGray {@include disable_pattern; background-color: $blackGray;}
    &BlackHole {@include disable_pattern; background-color: $blackHole;}
    &Kokushoku {@include disable_pattern; background-color: $kokushoku;}
    &Kurotobi {@include disable_pattern; background-color: $kurotobi;}
    &Void {@include disable_pattern; background-color: $void;}
    &WetSuit {@include disable_pattern; background-color: $wetSuit;}
    &YachtClubBlack {@include disable_pattern; background-color: $yachtClubBlack;}
    &YoungNight {@include disable_pattern; background-color: $youngNight;}
    &BlackstrapMolasses {@include disable_pattern; background-color: $blackstrapMolasses;}
    &CarbonBlack {@include disable_pattern; background-color: $carbonBlack;}
    &CynicalBlack {@include disable_pattern; background-color: $cynicalBlack;}
    &BlackPlum {@include disable_pattern; background-color: $blackPlum;}
    &ReversedGray {@include disable_pattern; background-color: $reversedGray;}
    &Stout {@include disable_pattern; background-color: $stout;}
    &TornadoCloud {@include disable_pattern; background-color: $tornadoCloud;}
    &WalnutHull {@include disable_pattern; background-color: $walnutHull;}
    &TapShoe {@include disable_pattern; background-color: $tapShoe;}
    &Woodsmoke {@include disable_pattern; background-color: $woodsmoke;}
    &BlackRed {@include disable_pattern; background-color: $blackRed;}
    &WindCave {@include disable_pattern; background-color: $windCave;}
    &HeavyGray {@include disable_pattern; background-color: $heavyGray;}

    /* Green */

    &ForestGreen {@include disable_pattern; background-color: $ForestGreen;}
    &Olive {@include disable_pattern; background-color: $Olive;}
    &HunterGreen {@include disable_pattern; background-color: $HunterGreen;}
    &ArtichokeGreen {@include disable_pattern; background-color: $ArtichokeGreen;}
    &JungleGreen {@include disable_pattern; background-color: $JungleGreen;}
    &TropicalRainforest {@include disable_pattern; background-color: $TropicalRainforest;}
    &Amazon {@include disable_pattern; background-color: $Amazon;}
    &DeepJungleGreen {@include disable_pattern; background-color: $DeepJungleGreen;}
    &MediumJungleGreen {@include disable_pattern; background-color: $MediumJungleGreen;}
    &DarkJungleGreen {@include disable_pattern; background-color: $DarkJungleGreen;}
    &MossGreen {@include disable_pattern; background-color: $MossGreen;}
    &MyrtleGreen {@include disable_pattern; background-color: $MyrtleGreen;}
    &PineGreen {@include disable_pattern; background-color: $PineGreen;}
    &PersianGreen {@include disable_pattern; background-color: $PersianGreen;}
    &EmeraldGreen {@include disable_pattern; background-color: $EmeraldGreen;}
    &NeonGreen {@include disable_pattern; background-color: $NeonGreen;}
    &SacramentoGreen {@include disable_pattern; background-color: $SacramentoGreen;}
    &SeaGreen {@include disable_pattern; background-color: $SeaGreen;}
    &SageGreen {@include disable_pattern; background-color: $SageGreen;}
    &LimeGreen {@include disable_pattern; background-color: $LimeGreen;}
    &JadeGreen {@include disable_pattern; background-color: $JadeGreen;}
    &FernGreen {@include disable_pattern; background-color: $FernGreen;}
    &LaurelGreen {@include disable_pattern; background-color: $LaurelGreen;}
    &MintGreen {@include disable_pattern; background-color: $MintGreen;}
    &TeaGreen {@include disable_pattern; background-color: $TeaGreen;}
    &ArmyGreen {@include disable_pattern; background-color: $ArmyGreen;}
    &KellyGreen {@include disable_pattern; background-color: $KellyGreen;}
    &RussianGreen {@include disable_pattern; background-color: $RussianGreen;}
    &ParisGreen {@include disable_pattern; background-color: $ParisGreen;}
    &PakistanGreen {@include disable_pattern; background-color: $PakistanGreen;}
    &MidnightGreen {@include disable_pattern; background-color: $MidnightGreen;}
    &IndiaGreen {@include disable_pattern; background-color: $IndiaGreen;}
    &HunterGreen {@include disable_pattern; background-color: $HunterGreen;}
    &Celadon {@include disable_pattern; background-color: $Celadon;}
    &Avocado {@include disable_pattern; background-color: $Avocado;}
    &Harlequin {@include disable_pattern; background-color: $Harlequin;}
    &SpringGreen {@include disable_pattern; background-color: $SpringGreen;}
    &Kaitoke {@include disable_pattern; background-color: $Kaitoke;}
    &ScreaminGreen {@include disable_pattern; background-color: $ScreaminGreen;}
    &Chateau {@include disable_pattern; background-color: $Chateau;}
    &DarkMossGreen {@include disable_pattern; background-color: $DarkMossGreen;}
    &Swamp {@include disable_pattern; background-color: $Swamp;}
    &Mantis {@include disable_pattern; background-color: $Mantis;}
    &Fun {@include disable_pattern; background-color: $Fun;}
    &PantoneGreen {@include disable_pattern; background-color: $PantoneGreen;}
    &Viridian {@include disable_pattern; background-color: $Viridian;}
    &ResedaGreen {@include disable_pattern; background-color: $ResedaGreen;}
    &Chetwode {@include disable_pattern; background-color: $Chetwode;}
    &ShamrockGreen {@include disable_pattern; background-color: $ShamrockGreen;}
    &Verdun {@include disable_pattern; background-color: $Verdun;}
    &CastletonGreen {@include disable_pattern; background-color: $CastletonGreen;}
    &Gin {@include disable_pattern; background-color: $Gin;}
    &GrannySmithApple {@include disable_pattern; background-color: $GrannySmithApple;}
    &BitterLime {@include disable_pattern; background-color: $BitterLime;}
    &BrightMint {@include disable_pattern; background-color: $BrightMint;}
    &BottleGreen {@include disable_pattern; background-color: $BottleGreen;}
    &CadmiumGreen {@include disable_pattern; background-color: $CadmiumGreen;}
    &CamouflageGreen {@include disable_pattern; background-color: $CamouflageGreen;}
    &Pear {@include disable_pattern; background-color: $Pear;}
    &DollarBill {@include disable_pattern; background-color: $DollarBill;}
    &Inchworm {@include disable_pattern; background-color: $Inchworm;}
    &Asparagus {@include disable_pattern; background-color: $Asparagus;}
    &CaribbeanGreen {@include disable_pattern; background-color: $CaribbeanGreen;}
    &GoGreen {@include disable_pattern; background-color: $GoGreen;}
    &PhthaloGreen {@include disable_pattern; background-color: $PhthaloGreen;}
    &NapierGreen {@include disable_pattern; background-color: $NapierGreen;}
    &Feldgrau {@include disable_pattern; background-color: $Feldgrau;}
    &GreenYellow {@include disable_pattern; background-color: $GreenYellow;}
    &Malachite {@include disable_pattern; background-color: $Malachite;}
    &RifleGreen {@include disable_pattern; background-color: $RifleGreen;}
    &Volt {@include disable_pattern; background-color: $Volt;}
    &BritishRacingGreen {@include disable_pattern; background-color: $BritishRacingGreen;}
    &Thyme {@include disable_pattern; background-color: $Thyme;}
    &Chartreuse {@include disable_pattern; background-color: $Chartreuse;}
    &CornGreen {@include disable_pattern; background-color: $CornGreen;}
    &ShrekGreen {@include disable_pattern; background-color: $ShrekGreen;}
    &ChristmasGreen {@include disable_pattern; background-color: $ChristmasGreen;}
    &IrishGreen {@include disable_pattern; background-color: $IrishGreen;}
    &RoadSignGreen {@include disable_pattern; background-color: $RoadSignGreen;}
    &LightsaberGreen {@include disable_pattern; background-color: $LightsaberGreen;}
    &GirlScoutGreen {@include disable_pattern; background-color: $GirlScoutGreen;}
    &TennisCourtGreen {@include disable_pattern; background-color: $TennisCourtGreen;}
    &SpringBud {@include disable_pattern; background-color: $SpringBud;}
    &ChineseGreen {@include disable_pattern; background-color: $ChineseGreen;}
    &ArcticLime {@include disable_pattern; background-color: $ArcticLime;}
    &Nyanza {@include disable_pattern; background-color: $Nyanza;}
    &DarkLemonLime {@include disable_pattern; background-color: $DarkLemonLime;}
    &CrayolaYellowGreen {@include disable_pattern; background-color: $CrayolaYellowGreen;}
    &MaximumGreen {@include disable_pattern; background-color: $MaximumGreen;}
    &VividLimeGreen {@include disable_pattern; background-color: $VividLimeGreen;}
    &Pistachio {@include disable_pattern; background-color: $Pistachio;}
    &MediumSpringGreen {@include disable_pattern; background-color: $MediumSpringGreen;}
    &SheenGreen {@include disable_pattern; background-color: $SheenGreen;}
    &LaSalleGreen {@include disable_pattern; background-color: $LaSalleGreen;}
    &SpanishViridian {@include disable_pattern; background-color: $SpanishViridian;}
    &DartmouthGreen {@include disable_pattern; background-color: $DartmouthGreen;}
    &PineNeedleColor {@include disable_pattern; background-color: $PineNeedleColor;}
    &OliveDrab {@include disable_pattern; background-color: $OliveDrab;}
    &LawnGreen {@include disable_pattern; background-color: $LawnGreen;}
    &Xanadu {@include disable_pattern; background-color: $Xanadu;}
    &DarkOliveGreen {@include disable_pattern; background-color: $DarkOliveGreen;}
    &DarkSeaGreen {@include disable_pattern; background-color: $DarkSeaGreen;}
    &GreenMunsell {@include disable_pattern; background-color: $GreenMunsell;}
    &MughalGreen {@include disable_pattern; background-color: $MughalGreen;}
    &JohnDeereGreen {@include disable_pattern; background-color: $JohnDeereGreen;}
    &OfficeGreen {@include disable_pattern; background-color: $OfficeGreen;}
    &Limerick {@include disable_pattern; background-color: $Limerick;}
    &MaxGreenYellow {@include disable_pattern; background-color: $MaxGreenYellow;}
    &FrenchLime {@include disable_pattern; background-color: $FrenchLime;}
    &MediumSpringBud {@include disable_pattern; background-color: $MediumSpringBud;}
    &UFOGreen {@include disable_pattern; background-color: $UFOGreen;}
    &AcidGreen {@include disable_pattern; background-color: $AcidGreen;}
    &ChlorophyllGreen {@include disable_pattern; background-color: $ChlorophyllGreen;}
    &GreenLizard {@include disable_pattern; background-color: $GreenLizard;}
    &IguanaGreen {@include disable_pattern; background-color: $IguanaGreen;}
    &KombuGreen {@include disable_pattern; background-color: $KombuGreen;}
    &MiddleGreen {@include disable_pattern; background-color: $MiddleGreen;}
    &PaoloGreen {@include disable_pattern; background-color: $PaoloGreen;}
    &PullmanGreen {@include disable_pattern; background-color: $PullmanGreen;}
    &GreenScreen {@include disable_pattern; background-color: $GreenScreen;}
    &AndroidGreen {@include disable_pattern; background-color: $AndroidGreen;}
    &BitterLemon {@include disable_pattern; background-color: $BitterLemon;}
    &WageningenGreen {@include disable_pattern; background-color: $WageningenGreen;}
    &SapGreen {@include disable_pattern; background-color: $SapGreen;}
    &OldMossGreen {@include disable_pattern; background-color: $OldMossGreen;}
    &SlimyGreen {@include disable_pattern; background-color: $SlimyGreen;}
    &LightMalachite {@include disable_pattern; background-color: $LightMalachite;}
    &DarkSpringGreen {@include disable_pattern; background-color: $DarkSpringGreen;}
    &GuppieGreen {@include disable_pattern; background-color: $GuppieGreen;}
    &AppleGreen {@include disable_pattern; background-color: $AppleGreen;}
    &DeepGreen {@include disable_pattern; background-color: $DeepGreen;}
    &HookerGreen {@include disable_pattern; background-color: $HookerGreen;}
    &MediumSeaGreen {@include disable_pattern; background-color: $MediumSeaGreen;}
    &TurquoiseGreen {@include disable_pattern; background-color: $TurquoiseGreen;}







    &RoseWhite{@include disable_pattern; background-color: $roseWhite;}
    &HofWhite{@include disable_pattern; background-color: $hofWhite;}

    &Gray{@include disable_pattern; background-color: $gray;}
    &Dark{@include disable_pattern; background-color: $dark;}
    &DarkGray{@include disable_pattern; background-color: $darkGray;}
    &DarkAsh{@include disable_pattern; background-color: $darkAsh;}
    &PureBlack{@include disable_pattern; background-color: $pureBlack;}
    &Thasin{@include disable_pattern; background-color: $thasin;}
    &Thasin_2{@include disable_pattern; background-color: $thasin_2;}

    &PureBlue{@include disable_pattern; background-color: $pureBlue;}
    &Sky{@include disable_pattern; background-color: $sky;}

    &Gold{@include disable_pattern; background-color: $gold;}
    &SandyBrown{@include disable_pattern; background-color: $sandyBrown;}
}