/* background colors */
.bg{
    &RoseWhite{@include disable_pattern; background-color: $roseWhite;}
    &HofWhite{@include disable_pattern; background-color: $hofWhite;}

    &Gray{@include disable_pattern; background-color: $gray;}
    &Dark{@include disable_pattern; background-color: $dark;}
    &DarkGray{@include disable_pattern; background-color: $darkGray;}
    &DarkAsh{@include disable_pattern; background-color: $darkAsh;}
    &PureBlack{@include disable_pattern; background-color: $pureBlack;}
    &Thasin{@include disable_pattern; background-color: $thasin;}
    &Thasin_2{@include disable_pattern; background-color: $thasin_2;}

    &PureBlue{@include disable_pattern; background-color: $pureBlue;}
    &Sky{@include disable_pattern; background-color: $sky;}
}