/* pigment */

@media only screen and (max-width: 1400px) {
    
    .pigment{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:2px;
        padding:0;
        margin:0;
    }
    
    .pigment > a{
        width: 5px;
        height: 5px;
        padding: .5rem;
        border: 1px solid $black;
        font-size: 1px;
        color: transparent;
        margin:0;
        gap:2px;
        border-radius: 0px;
        transition: 500ms ease-in-out;
    }
    
    .pigment > a:hover{
        box-shadow: 5px 10px 10px -1px #000000a5;
        transition: 500ms ease-in-out;
    }

}


.hoverCopy:hover{
    transition: 200ms ease-in-out;
    position: relative;
}

.hoverCopy:hover::after{
    content: "Copy?";
    font-size: 12px;
    margin: .5rem .5rem;
    right:10px;
    color: $BrightYellow;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 7.5px;
    transition: 200ms ease-in-out;

    @media only screen and (max-width: $tablet) {
        font-size: 9px;
        top: 7px;
    }
}

.hoverCopy:hover::before{
    content: "--";
    font-size: 12px;
    margin: .5rem 0rem;
    right:10px;
    color: $sky;
    font-weight: bold;
    position: absolute;
    right: 53px;
    top: 7.5px;
    transition: 200ms ease-in-out;

    @media only screen and (max-width: $tablet) {
        font-size: 9px;
        right: 43px;
        top: 7px;
    }
}
