/* cursor */
.curAlias {cursor: alias;}
.curAllScroll {cursor: all-scroll;}
.curAuto {cursor: auto;}
.curCell {cursor: cell;}
.curContextMenu {cursor: context-menu;}
.curColResize {cursor: col-resize;}
.curCopy {cursor: copy;}
.curCrossHair {cursor: crosshair;}
.curDefault {cursor: default;}
.curEResize {cursor: e-resize;}
.curEwResize {cursor: ew-resize;}
.curGrab {cursor: grab;}
.curGrabbing {cursor: grabbing;}
.curHelp {cursor: help;}
.curMove {cursor: move;}
.curNResize {cursor: n-resize;}
.curNeResize {cursor: ne-resize;}
.curNeswResize {cursor: nesw-resize;}
.curNsResize {cursor: ns-resize;}
.curNwResize {cursor: nw-resize;}
.curNwseResize {cursor: nwse-resize;}
.curNoDrop {cursor: no-drop;}
.curNone {cursor: none;}
.curNotAllowed {cursor: not-allowed;}
.CurPointer {cursor: pointer;}
.curProgress {cursor: progress;}
.curRowResize {cursor: row-resize;}
.curSResize {cursor: s-resize;}
.curSeResize {cursor: se-resize;}
.curSwResize {cursor: sw-resize;}
.curTxt {cursor: text;}
.curWResize {cursor: w-resize;}
.curWait {cursor: wait;}
.curZoomIn {cursor: zoom-in;}
.curZoomOut {cursor: zoom-out;}