/* cursor */
.cur{
    &Alias {cursor: alias;}
    &AllScroll {cursor: all-scroll;}
    &Auto {cursor: auto;}
    &Cell {cursor: cell;}
    &ContextMenu {cursor: context-menu;}
    &ColResize {cursor: col-resize;}
    &Copy {cursor: copy;}
    &CrossHair {cursor: crosshair;}
    &Default {cursor: default;}
    &EResize {cursor: e-resize;}
    &EwResize {cursor: ew-resize;}
    &Grab {cursor: grab;}
    &Grabbing {cursor: grabbing;}
    &Help {cursor: help;}
    &Move {cursor: move;}
    &NResize {cursor: n-resize;}
    &NeResize {cursor: ne-resize;}
    &NeswResize {cursor: nesw-resize;}
    &NsResize {cursor: ns-resize;}
    &NwResize {cursor: nw-resize;}
    &NwseResize {cursor: nwse-resize;}
    &NoDrop {cursor: no-drop;}
    &None {cursor: none;}
    &NotAllowed {cursor: not-allowed;}
    &Pointer {cursor: pointer;}
    &Progress {cursor: progress;}
    &RowResize {cursor: row-resize;}
    &SResize {cursor: s-resize;}
    &SeResize {cursor: se-resize;}
    &SwResize {cursor: sw-resize;}
    &Txt {cursor: text;}
    &WResize {cursor: w-resize;}
    &Wait {cursor: wait;}
    &ZoomIn {cursor: zoom-in;}
    &ZoomOut {cursor: zoom-out;}
}