/* block */
.disBlock{display: block;}

/* inline */
.disInline{
    display: inline;
    /* block inline */
    &Block{display: inline-block;}
}

/* table*/
.disTable{display: table;}

/* none */
.disNone{display: none;}