/* display */
.disFlex{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}




/* flex-direction */
.flexDir{
    &Row{
        flex-direction: row;
    }
    &RevRow{
        flex-direction: row-reverse;
    }
    &Col{
        flex-direction: column;
    }
    &RevCol{
        flex-direction: column-reverse;
    }
    &Unset{
        flex-direction: unset;
    }
}




/* wrap */
.flex{
    &Wrap{
        flex-wrap: wrap;
    }
    &NoWrap{
        flex-wrap: nowrap;
    }
    &RevWrap{
        flex-wrap: wrap-reverse;
    }
}






$perlimit: 100;

@for $hook from 0 through $perlimit {
    .basis_#{$hook} {
        flex-basis: (0% + $hook);
    }
}

$orderlimit: 100;

@for $hook from 0 through $orderlimit {
    .flexOrder_#{$hook} {
        order: (0 + $hook);
    }
}

@for $hook from 0 through $orderlimit {
    .flex_#{$hook} {
        flex: (0 + $hook);
    }
}