/* display */
.disFlex{display:flex;}




/* flex-direction */
.flexDir{
    &Row{
        flex-direction: row;
    }
    &RevRow{
        flex-direction: row-reverse;
    }
    &Col{
        flex-direction: column;
    }
    &RevCol{
        flex-direction: column-reverse;
    }
    &Unset{
        flex-direction: unset;
    }
}




/* wrap */
.flex{
    &Wrap{
        flex-wrap: wrap;
    }
    &NoWrap{
        flex-wrap: nowrap;
    }
    &RevWrap{
        flex-wrap: wrap-reverse;
    }
}





