/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=MonteCarlo&family=Montserrat:wght@100;300;400;500;700;900&family=Nunito:wght@300;400;700;900&family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');





/* font lato */
.lato{
    font-family: 'Lato', sans-serif;
    &Thin{
        font-family: 'Lato', sans-serif;
        font-weight: $thin;
    }
    &Light{
        font-family: 'Lato', sans-serif;
        font-weight: $light;
    }
    &Regular{
        font-family: 'Lato', sans-serif;
        font-weight: $regular;
    }
    &Bold{
        font-family: 'Lato', sans-serif;
        font-weight: $bold;
    }
    &Bolder{
        font-family: 'Lato', sans-serif;
        font-weight: $bolder;
    }
}




/* font monteCarlo */
.monteCarlo{
    font-family: 'MonteCarlo', cursive;
}




/* font montserrat */
.montserrat{
    font-family: 'Montserrat', sans-serif;
    &Thin{
        font-family: 'Montserrat', sans-serif;
        font-weight: $thin;
    }
    &Light{
        font-family: 'Montserrat', sans-serif;
        font-weight: $light;
    }
    &Regular{
        font-family: 'Montserrat', sans-serif;
        font-weight: $regular;
    }
    &Medium{
        font-family: 'Montserrat', sans-serif;
        font-weight: $medium;
    }
    &Bold{
        font-family: 'Montserrat', sans-serif;
        font-weight: $bold;
    }
    &Bolder{
        font-family: 'Montserrat', sans-serif;
        font-weight: $bolder;
    }
}




/* font nunito */
.nunito{
    font-family: 'Nunito', sans-serif;
    &Light{
        font-family: 'Nunito', sans-serif;
        font-weight: $light;
    }
    &Regular{
        font-family: 'Nunito', sans-serif;
        font-weight: $regular;
    }
    &Bold{
        font-family: 'Nunito', sans-serif;
        font-weight: $bold;
    }
    &Bolder{
        font-family: 'Nunito', sans-serif;
        font-weight: $bolder;
    }
}




/* font openSans */
.openSans{
    font-family: 'Open Sans', sans-serif;
    &Light{
        font-family: 'Open Sans', sans-serif;
        font-weight: $light;
    }
    &Regular{
        font-family: 'Open Sans', sans-serif;
        font-weight: $regular;
    }
    &Bold{
        font-family: 'Open Sans', sans-serif;
        font-weight: $bold;
    }
}




/* font roboto */
.roboto{
    font-family: 'Roboto', sans-serif;
    &Thin{
        font-family: 'Roboto', sans-serif;
        font-weight: $thin;
    }
    &Light{
        font-family: 'Roboto', sans-serif;
        font-weight: $light;
    }
    &Regular{
        font-family: 'Roboto', sans-serif;
        font-weight: $regular;
    }
    &Medium{
        font-family: 'Roboto', sans-serif;
        font-weight: $medium;
    }
    &Bold{
        font-family: 'Roboto', sans-serif;
        font-weight: $bold;
    }
    &Bolder{
        font-family: 'Roboto', sans-serif;
        font-weight: $bolder;
    }
}




/* font size */
$pxlimit: 500;

@for $hook from 0 through $pxlimit {
    .fSize_#{$hook}px {
        font-size: (0px + $hook);
    }
}

$remlimit: 100;

@for $hook from 0 through $remlimit {
    .fSize_{
        &#{$hook} {
            font-size: (0rem + $hook);
        }
        &#{$hook}_q {
            font-size: ($quarter + $hook);
        }
        &#{$hook}_h {
            font-size: ($half + $hook);
        }
        &#{$hook}_tq {
            font-size: ($three_quarter + $hook);
        }
    }
}





/* color */
.clr{
    &Basic{color:#3b3838;}
    &Blue{color:#0939d6;}
    &Danger{color:#FF0000;}
    &Success{color:#45f248;}
    &Alert{color:#fff222;}
    &Sky{color:#338bd5;}

    /* white */
    &White {color: $white;}
    &GhostWhite {color: $ghostWhite;}
    &WhiteSmoke {color: $whiteSmoke;}
    &BabyPowder {color: $babyPowder;}
    &Snow {color: $snow;}
    &Ivory {color: $ivory;}
    &FloralWhite {color: $floralWhite;}
    &Seashell {color: $seashell;}
    &Cornsilk {color: $cornsilk;}
    &OldLace {color: $oldLace;}
    &Cream {color: $cream;}
    &Beige {color: $beige;}
    &Parchment {color: $parchment;}
    &AntiqueWhite {color: $antiqueWhite;}
    &Champagne {color: $champagne;}
    &Eggshell {color: $eggshell;}
    &DutchWhite {color: $dutchWhite;}
    &Bone {color: $bone;}
    &Vanilla {color: $vanilla;}
    &Flax {color: $flax;}
    &NavajoWhite {color: $navajoWhite;}
    &Alabaster {color: $alabaster;}
    &Chiffon {color: $chiffon;}
    &UnresolvedProblem {color: $unresolvedProblem;}
    &OldWood {color: $oldWood;}
    &RoseWhite {color: $roseWhite;}
    &VistaWhite {color: $vistaWhite;}
    &LinkWhite {color: $linkWhite;}
    &Spring {color: $spring;}
    &SnowDrift {color: $snowDrift;}
    &Peppermint {color: $peppermint;}
    &Merino {color: $merino;}
    &HalfAndHalf {color: $halfAndHalf;}
    &IslandSpice {color: $islandSpice;}
    &SoftPeach {color: $softPeach;}
    &Harp {color: $harp;}
    &TitanWhite {color: $titanWhite;}
    &AudienceAnger {color: $audienceAnger;}
    &OrangeWhite {color: $orangeWhite;}
    &CoughMixture {color: $coughMixture;}
    &AlbescentWhite {color: $albescentWhite;}
    &Coconut {color: $coconut;}
    &PinkSalt {color: $pinkSalt;}
    &Frost {color: $frost;}
    &Linen {color: $linen;}
    &Rice {color: $rice;}
    &Daisy {color: $daisy;}
    &Powder {color: $powder;}
    &Pearl {color: $pearl;}
    &ParisWhite {color: $parisWhite;}
    &CupCake {color: $cupCake;}
    &WhiteDove {color: $whiteDove;}
    &WhiteWhisper {color: $whiteWhisper;}
    &Lexicon {color: $lexicon;}
    &GreekVilla {color: $greekVilla;}
    &WhiteDiamond {color: $whiteDiamond;}
    &DecoratorWhite {color: $decoratorWhite;}
    &WinterWhite {color: $winterWhite;}
    &SpatialWhite {color: $spatialWhite;}
    &HogBristleQuarter {color: $hogBristleQuarter;}
    &SimplyWhite {color: $simplyWhite;}
    &OysterWhite {color: $oysterWhite;}
    &WhiteOnWhite {color: $whiteOnWhite;}
    &LexiconQuarter {color: $lexiconQuarter;}
    &AliceBlue {color: $aliceBlue;}
    &Honeydew {color: $honeydew;}
    &MintCream {color: $mintCream;}
    &Milk {color: $milk;}
    &PomeloWhite {color: $pomeloWhite;}
    &AntiFlashWhite {color: $antiFlashWhite;}
    &Magnolia {color: $magnolia;}
    &Azure {color: $azure;}
    &HuntingtonWhite {color: $huntingtonWhite;}
    &AcadiaWhite {color: $acadiaWhite;}
    &Gainsboro {color: $gainsboro;}
    &Mercury {color: $mercury;}
    &LavenderBlush {color: $lavenderBlush;}
    &Isabelline {color: $isabelline;}
    &Bubbles {color: $bubbles;}
    &Glitter {color: $glitter;}
    &Platinum {color: $platinum;}
    &CosmicLatte {color: $cosmicLatte;}
    &BlanchedAlmond {color: $blanchedAlmond;}
    &LightYellow {color: $lightYellow;}
    &NaturalWhite {color: $naturalWhite;}
    &VividWhite {color: $vividWhite;}
    &WhiteWisp {color: $whiteWisp;}
    &AzureishWhite {color: $azureishWhite;}
    &Timberwolf {color: $timberwolf;}
    &PapayaWhip {color: $papayaWhip;}
    &AntiqueWhiteUSA {color: $antiqueWhiteUSA;}
    &Cola {color: $cola;}
    &AtriumWhite {color: $atriumWhite;}
    &CascadingWhite {color: $cascadingWhite;}
    &CottonBall {color: $cottonBall;}
    &PhotonWhite {color: $photonWhite;}
    &WhiteHeat {color: $whiteHeat;}
    &Whitewash {color: $whitewash;}
    &ShadowWhite {color: $shadowWhite;}
    &AbbeyWhite {color: $abbeyWhite;}
    &AcousticWhite {color: $acousticWhite;}
    &AircraftWhite {color: $aircraftWhite;}
    &Ceramic {color: $ceramic;}
    &CoconutButter {color: $coconutButter;}
    &AbstractWhite {color: $abstractWhite;}
    &BrightWhite {color: $brightWhite;}
    &BrokenWhite {color: $brokenWhite;}
    &BrilliantWhite {color: $brilliantWhite;}
    &CommercialWhite {color: $commercialWhite;}
    &FeatherWhite {color: $featherWhite;}
    &SwanWhite {color: $swanWhite;}
    &PolarBear {color: $polarBear;}
    &PaperWhite {color: $paperWhite;}
    &PacificPearl {color: $pacificPearl;}
    &NightWhite {color: $nightWhite;}
    &DelicateWhite {color: $delicateWhite;}
    &CoconutWhite {color: $coconutWhite;}
    &CakeBatter {color: $cakeBatter;}
    &WhiteSand {color: $whiteSand;}
    &StoneWhite {color: $stoneWhite;}
    &WhiteChocolate {color: $whiteChocolate;}
    &RetroWhite {color: $retroWhite;}
    &HofWhite {color: $hofWhite;}
    &DimWhite {color: $dimWhite;}

    /* black */

    &Abbey {color: $abbey;}
    &AshGray {color: $ashGray;}
    &Asphalt {color: $asphalt;}
    &Black {color: $black;}
    &BlackBean {color: $blackBean;}
    &BlackCat {color: $blackCat;}
    &BlackCow {color: $blackCow;}
    &BlackEel {color: $blackEel;}
    &BlackOlive {color: $blackOlive;}
    &Charcoal {color: $charcoal;}
    &CharlestonGreen {color: $charlestonGreen;}
    &DarkJungleGreen {color: $darkJungleGreen;}
    &DavyGray {color: $davyGray;}
    &DimGray {color: $dimGray;}
    &Ebony {color: $ebony;}
    &EerieBlack {color: $eerieBlack;}
    &Granite {color: $granite;}
    &Gray {color: $gray;}
    &GrayCloud {color: $grayCloud;}
    &GrayWolf {color: $grayWolf;}
    &GunMetal {color: $gunMetal;}
    &Iridium {color: $iridium;}
    &Jet {color: $jet;}
    &Licorice {color: $licorice;}
    &Midnight {color: $midnight;}
    &Night {color: $night;}
    &Oil {color: $oil;}
    &OldBurgundy {color: $oldBurgundy;}
    &Onyx {color: $onyx;}
    &OuterSpace {color: $outerSpace;}
    &RaisinBlack {color: $raisinBlack;}
    &SmokyBlack {color: $smokyBlack;}
    &Taupe {color: $taupe;}
    &VampireGray {color: $vampireGray;}
    &BlackLeatherJacket {color: $blackLeatherJacket;}
    &CafeAmericano {color: $cafeAmericano;}
    &Blackberry {color: $blackberry;}
    &LampBlack {color: $lampBlack;}
    &ArmyUniform {color: $armyUniform;}
    &Slate {color: $slate;}
    &PitchBlack {color: $pitchBlack;}
    &Spider {color: $spider;}
    &Metal {color: $metal;}
    &Grease {color: $grease;}
    &Crow {color: $crow;}
    &BlackRock {color: $blackRock;}
    &BasaltBlack {color: $basaltBlack;}
    &NeutralBlack {color: $neutralBlack;}
    &BlackDenim {color: $blackDenim;}
    &VampireBlack {color: $vampireBlack;}
    &CoolBlack {color: $coolBlack;}
    &PandaBlack {color: $pandaBlack;}
    &FrostBlack {color: $frostBlack;}
    &InkBlack {color: $inkBlack;}
    &Raven {color: $raven;}
    &Leather {color: $leather;}
    &Sable {color: $sable;}
    &PowerBlack {color: $powerBlack;}
    &Soot {color: $soot;}
    &Jade {color: $jade;}
    &TrueBlack {color: $trueBlack;}
    &PremiumBlack {color: $premiumBlack;}
    &Obsidian {color: $obsidian;}
    &BlackGrain {color: $blackGrain;}
    &BlackMagic {color: $blackMagic;}
    &IronBlack {color: $ironBlack;}
    &RichBlack {color: $richBlack;}
    &WarmBlack {color: $warmBlack;}
    &BlackCoral {color: $blackCoral;}
    &BlackShadows {color: $blackShadows;}
    &BlackRaspberry {color: $blackRaspberry;}
    &KombuGreen {color: $kombuGreen;}
    &ZinnwalditeBrown {color: $zinnwalditeBrown;}
    &DarkSlateGray {color: $darkSlateGray;}
    &DarkCharcoal {color: $darkCharcoal;}
    &RussianViolet {color: $russianViolet;}
    &OliveDrab {color: $oliveDrab;}
    &DarkSienna {color: $darkSienna;}
    &AlienBlack {color: $alienBlack;}
    &BlackChocolate {color: $blackChocolate;}
    &BlueCharcoal {color: $blueCharcoal;}
    &GothicGrape {color: $gothicGrape;}
    &Metropolis {color: $metropolis;}
    &NightShadow {color: $nightShadow;}
    &OffBlack {color: $offBlack;}
    &DarkRaisin {color: $darkRaisin;}
    &TeaBag {color: $teaBag;}
    &ElectricBlack {color: $electricBlack;}
    &TechBlack {color: $techBlack;}
    &DullBlack {color: $dullBlack;}
    &DarkBlack {color: $darkBlack;}
    &NaturalBlack {color: $naturalBlack;}
    &RetroBlack {color: $retroBlack;}
    &BlackGreen {color: $blackGreen;}
    &DeepBlack {color: $deepBlack;}
    &RefreshBlack {color: $refreshBlack;}
    &RusticBlack {color: $rusticBlack;}
    &RoseEbony {color: $roseEbony;}
    &Liver {color: $liver;}
    &PurpleTaupe {color: $purpleTaupe;}
    &BlackPearl {color: $blackPearl;}
    &BlackRussian {color: $blackRussian;}
    &AestheticBlack {color: $aestheticBlack;}
    &SignalBlack {color: $signalBlack;}
    &CafeNoir {color: $cafeNoir;}
    &LuxuryBlack {color: $luxuryBlack;}
    &BrightBlack {color: $brightBlack;}
    &BlackBlue {color: $blackBlue;}
    &GlossyBlack {color: $glossyBlack;}
    &IvoryBlack {color: $ivoryBlack;}
    &PastelBlack {color: $pastelBlack;}
    &FashionBlack {color: $fashionBlack;}
    &GraphiteBlack {color: $graphiteBlack;}
    &BlackGray {color: $blackGray;}
    &BlackHole {color: $blackHole;}
    &Kokushoku {color: $kokushoku;}
    &Kurotobi {color: $kurotobi;}
    &Void {color: $void;}
    &WetSuit {color: $wetSuit;}
    &YachtClubBlack {color: $yachtClubBlack;}
    &YoungNight {color: $youngNight;}
    &BlackstrapMolasses {color: $blackstrapMolasses;}
    &CarbonBlack {color: $carbonBlack;}
    &CynicalBlack {color: $cynicalBlack;}
    &BlackPlum {color: $blackPlum;}
    &ReversedGray {color: $reversedGray;}
    &Stout {color: $stout;}
    &TornadoCloud {color: $tornadoCloud;}
    &WalnutHull {color: $walnutHull;}
    &TapShoe {color: $tapShoe;}
    &Woodsmoke {color: $woodsmoke;}
    &BlackRed {color: $blackRed;}
    &WindCave {color: $windCave;}
    &HeavyGray {color: $heavyGray;}

    /* Green */

    &ForestGreen {color: $ForestGreen;}
    &Olive {color: $Olive;}
    &HunterGreen {color: $HunterGreen;}
    &ArtichokeGreen {color: $ArtichokeGreen;}
    &JungleGreen {color: $JungleGreen;}
    &TropicalRainforest {color: $TropicalRainforest;}
    &Amazon {color: $Amazon;}
    &DeepJungleGreen {color: $DeepJungleGreen;}
    &MediumJungleGreen {color: $MediumJungleGreen;}
    &DarkJungleGreen {color: $DarkJungleGreen;}
    &MossGreen {color: $MossGreen;}
    &MyrtleGreen {color: $MyrtleGreen;}
    &PineGreen {color: $PineGreen;}
    &PersianGreen {color: $PersianGreen;}
    &EmeraldGreen {color: $EmeraldGreen;}
    &NeonGreen {color: $NeonGreen;}
    &SacramentoGreen {color: $SacramentoGreen;}
    &SeaGreen {color: $SeaGreen;}
    &SageGreen {color: $SageGreen;}
    &LimeGreen {color: $LimeGreen;}
    &JadeGreen {color: $JadeGreen;}
    &FernGreen {color: $FernGreen;}
    &LaurelGreen {color: $LaurelGreen;}
    &MintGreen {color: $MintGreen;}
    &TeaGreen {color: $TeaGreen;}
    &ArmyGreen {color: $ArmyGreen;}
    &KellyGreen {color: $KellyGreen;}
    &RussianGreen {color: $RussianGreen;}
    &ParisGreen {color: $ParisGreen;}
    &PakistanGreen {color: $PakistanGreen;}
    &MidnightGreen {color: $MidnightGreen;}
    &IndiaGreen {color: $IndiaGreen;}
    &HunterGreen {color: $HunterGreen;}
    &Celadon {color: $Celadon;}
    &Avocado {color: $Avocado;}
    &Harlequin {color: $Harlequin;}
    &SpringGreen {color: $SpringGreen;}
    &Kaitoke {color: $Kaitoke;}
    &ScreaminGreen {color: $ScreaminGreen;}
    &Chateau {color: $Chateau;}
    &DarkMossGreen {color: $DarkMossGreen;}
    &Swamp {color: $Swamp;}
    &Mantis {color: $Mantis;}
    &Fun {color: $Fun;}
    &PantoneGreen {color: $PantoneGreen;}
    &Viridian {color: $Viridian;}
    &ResedaGreen {color: $ResedaGreen;}
    &Chetwode {color: $Chetwode;}
    &ShamrockGreen {color: $ShamrockGreen;}
    &Verdun {color: $Verdun;}
    &CastletonGreen {color: $CastletonGreen;}
    &Gin {color: $Gin;}
    &GrannySmithApple {color: $GrannySmithApple;}
    &BitterLime {color: $BitterLime;}
    &BrightMint {color: $BrightMint;}
    &BottleGreen {color: $BottleGreen;}
    &CadmiumGreen {color: $CadmiumGreen;}
    &CamouflageGreen {color: $CamouflageGreen;}
    &Pear {color: $Pear;}
    &DollarBill {color: $DollarBill;}
    &Inchworm {color: $Inchworm;}
    &Asparagus {color: $Asparagus;}
    &CaribbeanGreen {color: $CaribbeanGreen;}
    &GoGreen {color: $GoGreen;}
    &PhthaloGreen {color: $PhthaloGreen;}
    &NapierGreen {color: $NapierGreen;}
    &Feldgrau {color: $Feldgrau;}
    &GreenYellow {color: $GreenYellow;}
    &Malachite {color: $Malachite;}
    &RifleGreen {color: $RifleGreen;}
    &Volt {color: $Volt;}
    &BritishRacingGreen {color: $BritishRacingGreen;}
    &Thyme {color: $Thyme;}
    &Chartreuse {color: $Chartreuse;}
    &CornGreen {color: $CornGreen;}
    &ShrekGreen {color: $ShrekGreen;}
    &ChristmasGreen {color: $ChristmasGreen;}
    &IrishGreen {color: $IrishGreen;}
    &RoadSignGreen {color: $RoadSignGreen;}
    &LightsaberGreen {color: $LightsaberGreen;}
    &GirlScoutGreen {color: $GirlScoutGreen;}
    &TennisCourtGreen {color: $TennisCourtGreen;}
    &SpringBud {color: $SpringBud;}
    &ChineseGreen {color: $ChineseGreen;}
    &ArcticLime {color: $ArcticLime;}
    &Nyanza {color: $Nyanza;}
    &DarkLemonLime {color: $DarkLemonLime;}
    &CrayolaYellowGreen {color: $CrayolaYellowGreen;}
    &MaximumGreen {color: $MaximumGreen;}
    &VividLimeGreen {color: $VividLimeGreen;}
    &Pistachio {color: $Pistachio;}
    &MediumSpringGreen {color: $MediumSpringGreen;}
    &SheenGreen {color: $SheenGreen;}
    &LaSalleGreen {color: $LaSalleGreen;}
    &SpanishViridian {color: $SpanishViridian;}
    &DartmouthGreen {color: $DartmouthGreen;}
    &PineNeedleColor {color: $PineNeedleColor;}
    &OliveDrab {color: $OliveDrab;}
    &LawnGreen {color: $LawnGreen;}
    &Xanadu {color: $Xanadu;}
    &DarkOliveGreen {color: $DarkOliveGreen;}
    &DarkSeaGreen {color: $DarkSeaGreen;}
    &GreenMunsell {color: $GreenMunsell;}
    &MughalGreen {color: $MughalGreen;}
    &JohnDeereGreen {color: $JohnDeereGreen;}
    &OfficeGreen {color: $OfficeGreen;}
    &Limerick {color: $Limerick;}
    &MaxGreenYellow {color: $MaxGreenYellow;}
    &FrenchLime {color: $FrenchLime;}
    &MediumSpringBud {color: $MediumSpringBud;}
    &UFOGreen {color: $UFOGreen;}
    &AcidGreen {color: $AcidGreen;}
    &ChlorophyllGreen {color: $ChlorophyllGreen;}
    &GreenLizard {color: $GreenLizard;}
    &IguanaGreen {color: $IguanaGreen;}
    &KombuGreen {color: $KombuGreen;}
    &MiddleGreen {color: $MiddleGreen;}
    &PaoloGreen {color: $PaoloGreen;}
    &PullmanGreen {color: $PullmanGreen;}
    &GreenScreen {color: $GreenScreen;}
    &AndroidGreen {color: $AndroidGreen;}
    &BitterLemon {color: $BitterLemon;}
    &WageningenGreen {color: $WageningenGreen;}
    &SapGreen {color: $SapGreen;}
    &OldMossGreen {color: $OldMossGreen;}
    &SlimyGreen {color: $SlimyGreen;}
    &LightMalachite {color: $LightMalachite;}
    &DarkSpringGreen {color: $DarkSpringGreen;}
    &GuppieGreen {color: $GuppieGreen;}
    &AppleGreen {color: $AppleGreen;}
    &DeepGreen {color: $DeepGreen;}
    &HookerGreen {color: $HookerGreen;}
    &MediumSeaGreen {color: $MediumSeaGreen;}
    &TurquoiseGreen {color: $TurquoiseGreen;}

}




/* highlights */
.highlight{
    &Success{
        background-color: #45f248;
        @include highlight;
    }
    &Danger{
        background-color: #FF0000;
        @include highlight;
    }
    &Alert{
        background-color: #fff222;
        @include highlight;
        color: #000000;
    }
    &Link{
        background-color: #338bd5;
        @include highlight;
    }
    &Black{
        background-color: #3b3838;
        @include highlight;
    }
}




/* alignment */
.txt{
    &Center{
        text-align: center;
    }
    &Right{
        text-align: right;
    }
    &Left{
        text-align: left;
    }
    &Justify{
        text-align: justify;
        text-justify: inter-word;
    }
}




/* decoration */
.txtDecor{
    &Dashed{
        text-decoration: dashed;
    }
    &Dotted{
        text-decoration: dotted;
    }
    &LineThrough{
        text-decoration: line-through;
    }
    &None{
        text-decoration: none;
    }
    &Overline{
        text-decoration: overline;
    }
    &Underline{
        text-decoration: underline;
    }
    &Wavy{
        text-decoration: wavy;
    }
}





/* overflow */
.overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




/* text transform */
.capitalize{text-transform: capitalize;}
.uppercase{text-transform: uppercase;}
.lowercase{text-transform: lowercase;}




/* line height */
.lineHeight{
    &_1_0{line-height: 1.0;}
    &_1_1{line-height: 1.1;}
    &_1_2{line-height: 1.2;}
    &_1_3{line-height: 1.3;}
    &_1_4{line-height: 1.4;}
    &_1_5{line-height: 1.5;}
    &_1_6{line-height: 1.6;}
    &_1_7{line-height: 1.7;}
    &_1_8{line-height: 1.8;}
    &_1_9{line-height: 1.9;}
    &_2_0{line-height: 2.0;}
    &_2_1{line-height: 2.1;}
    &_2_2{line-height: 2.2;}
    &_2_3{line-height: 2.3;}
    &_2_4{line-height: 2.4;}
    &_2_5{line-height: 2.5;}
    &_2_6{line-height: 2.6;}
    &_2_7{line-height: 2.7;}
    &_2_8{line-height: 2.8;}
    &_2_9{line-height: 2.9;}
    &_3_0{line-height: 3.0;}
}




/* white spacing */
.preWS{white-space: pre;}
.normalWS{white-space: normal;}
.noWrapWS{white-space: nowrap;}



/* modes */
.horModeTb{writing-mode: horizontal-tb;}
.verModeLr{writing-mode: vertical-lr;}
.verModeRl{writing-mode: vertical-rl;}



/* selection block */
.blockSelect{user-select: none;}



/* link */
.link{
    text-decoration: none;
    color: $pureBlue;
    font-weight: bold;
}