/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=MonteCarlo&family=Montserrat:wght@100;300;400;500;700;900&family=Nunito:wght@300;400;700;900&family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');





/* font lato */
.lato{
    font-family: 'Lato', sans-serif;
    &Thin{
        font-family: 'Lato', sans-serif;
        font-weight: $thin;
    }
    &Light{
        font-family: 'Lato', sans-serif;
        font-weight: $light;
    }
    &Regular{
        font-family: 'Lato', sans-serif;
        font-weight: $regular;
    }
    &Bold{
        font-family: 'Lato', sans-serif;
        font-weight: $bold;
    }
    &Bolder{
        font-family: 'Lato', sans-serif;
        font-weight: $bolder;
    }
}




/* font monteCarlo */
.monteCarlo{
    font-family: 'MonteCarlo', cursive;
}




/* font montserrat */
.montserrat{
    font-family: 'Montserrat', sans-serif;
    &Thin{
        font-family: 'Montserrat', sans-serif;
        font-weight: $thin;
    }
    &Light{
        font-family: 'Montserrat', sans-serif;
        font-weight: $light;
    }
    &Regular{
        font-family: 'Montserrat', sans-serif;
        font-weight: $regular;
    }
    &Medium{
        font-family: 'Montserrat', sans-serif;
        font-weight: $medium;
    }
    &Bold{
        font-family: 'Montserrat', sans-serif;
        font-weight: $bold;
    }
    &Bolder{
        font-family: 'Montserrat', sans-serif;
        font-weight: $bolder;
    }
}




/* font nunito */
.nunito{
    font-family: 'Nunito', sans-serif;
    &Light{
        font-family: 'Nunito', sans-serif;
        font-weight: $light;
    }
    &Regular{
        font-family: 'Nunito', sans-serif;
        font-weight: $regular;
    }
    &Bold{
        font-family: 'Nunito', sans-serif;
        font-weight: $bold;
    }
    &Bolder{
        font-family: 'Nunito', sans-serif;
        font-weight: $bolder;
    }
}




/* font openSans */
.openSans{
    font-family: 'Open Sans', sans-serif;
    &Light{
        font-family: 'Open Sans', sans-serif;
        font-weight: $light;
    }
    &Regular{
        font-family: 'Open Sans', sans-serif;
        font-weight: $regular;
    }
    &Bold{
        font-family: 'Open Sans', sans-serif;
        font-weight: $bold;
    }
}




/* font roboto */
.roboto{
    font-family: 'Roboto', sans-serif;
    &Thin{
        font-family: 'Roboto', sans-serif;
        font-weight: $thin;
    }
    &Light{
        font-family: 'Roboto', sans-serif;
        font-weight: $light;
    }
    &Regular{
        font-family: 'Roboto', sans-serif;
        font-weight: $regular;
    }
    &Medium{
        font-family: 'Roboto', sans-serif;
        font-weight: $medium;
    }
    &Bold{
        font-family: 'Roboto', sans-serif;
        font-weight: $bold;
    }
    &Bolder{
        font-family: 'Roboto', sans-serif;
        font-weight: $bolder;
    }
}




/* font size */
.fSize{
    &_h{font-size: $half;}
    &_tq{font-size: $three_quarter;}
    &_1{font-size: $one;}
    &_1_h{font-size: $one + $half;}
    &_2{font-size: $two;}
    &_2_h{font-size: $two + $half;}
    &_3{font-size: $three;}
    &_3_h{font-size: $three + $half;}
    &_4{font-size: $four;}
    &_4_h{font-size: $four + $half;}
    &_5{font-size: $five;}
    &_5_h{font-size: $five + $half;}
    &_6{font-size: $six;}
    &_6_h{font-size: $six + $half;}
    &_7{font-size: $seven;}
    &_7_h{font-size: $seven + $half;}
    &_8{font-size: $eight;}
    &_8_h{font-size: $eight + $half;}
    &_9{font-size: $nine;}
    &_9_h{font-size: $nine + $half;}
    &_10{font-size: $ten;}
    &_10_h{font-size: $ten + $half;}
    &_11{font-size: $eleven;}
    &_11_h{font-size: $eleven + $half;}
    &_12{font-size: $twelve;}
    &_12_h{font-size: $twelve + $half;}
    &_13{font-size: $thirteen;}
    &_13_h{font-size: $thirteen + $half;}
    &_14{font-size: $fourteen;}
    &_14_h{font-size: $fourteen + $half;}
    &_15{font-size: $fifteen;}
    &_15_h{font-size: $fifteen + $half;}
    &_16{font-size: $sixteen;}
    &_16_h{font-size: $sixteen + $half;}
    &_17{font-size: $seventeen;}
    &_17_h{font-size: $seventeen + $half;}
    &_18{font-size: $eighteen;}
    &_18_h{font-size: $eighteen + $half;}
    &_19{font-size: $nineteen;}
    &_19_h{font-size: $nineteen + $half;}
    &_20{font-size: $twenty;}
    &_20_h{font-size: $twenty + $half;}
}




/* color */
.clr{
    &White{color:#ffffff;}
    &Black{color:#000000;}
    &Basic{color:#3b3838;}
    &Blue{color:#0939d6;}
    &Danger{color:#FF0000;}
    &Success{color:#45f248;}
    &Alert{color:#fff222;}
    &Sky{color:#338bd5;}
}




/* alignment */
.txt{
    &_center{
        text-align: center;
    }
    &Right{
        text-align: right;
    }
    &Left{
        text-align: left;
    }
    &_justify{
        text-align: justify;
        text-justify: inter-word;
    }
}




/* decoration */
.txtDecor{
    &_dashed{
        text-decoration: dashed;
    }
    &_dotted{
        text-decoration: dotted;
    }
    &LineThrough{
        text-decoration: line-through;
    }
    &_none{
        text-decoration: none;
    }
    &_overline{
        text-decoration: overline;
    }
    &_underline{
        text-decoration: underline;
    }
    &_wavy{
        text-decoration: wavy;
    }
}





/* overflow */
.overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




/* text transform */
.capitalize{text-transform: capitalize;}
.uppercase{text-transform: uppercase;}
.lowercase{text-transform: lowercase;}




/* line height */
.lineHeight{
    &_1_0{line-height: 1;}
    &_1_1{line-height: 1.1;}
    &_1_2{line-height: 1.2;}
    &_1_3{line-height: 1.3;}
    &_1_4{line-height: 1.4;}
    &_1_5{line-height: 1.5;}
    &_1_6{line-height: 1.6;}
    &_1_7{line-height: 1.7;}
    &_1_8{line-height: 1.8;}
    &_1_9{line-height: 1.9;}
    &_2_0{line-height: 2.0;}
}




/* white spacing */
.preWhiteSpace{white-space: pre;}
.normalWhiteSpace{white-space: normal;}
.noWrapWhiteSpace{white-space: nowrap;}



/* modes */
.horModeTb{writing-mode: horizontal-tb;}
.verModeLr{writing-mode: vertical-lr;}
.verModeRl{writing-mode: vertical-rl;}



/* selection block */
.blockSelectNone{user-select: none;}