/* display */
.disGrid{
    display:grid;
}



/* grid-template-columns */
.gridCol{
    &_1_size_1{
        display:grid;
        grid-template-columns: 1fr;
    }
    &_2_size_1{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    &_3_size_1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &_4_size_1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &_5_size_1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    &_6_size_1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &_7_size_1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &_8_size_1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &_9_size_1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &_10_size_1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &_2_size_1_9{
        display:grid;
        grid-template-columns: 1fr 9fr;
    }
    &_2_size_2_8{
        display:grid;
        grid-template-columns: 2fr 8fr;
    }
    &_2_size_3_7{
        display:grid;
        grid-template-columns: 3fr 7fr;
    }
    &_2_size_4_6{
        display:grid;
        grid-template-columns: 4fr 6fr;
    }
    &_2_size_5_5{
        display:grid;
        grid-template-columns: 5fr 5fr;
    }
    &_2_size_6_4{
        display:grid;
        grid-template-columns: 6fr 4fr;
    }
    &_2_size_7_3{
        display:grid;
        grid-template-columns: 7fr 3fr;
    }
    &_2_size_8_2{
        display:grid;
        grid-template-columns: 8fr 2fr;
    }
    &_2_size_9_1{
        display:grid;
        grid-template-columns: 9fr 1fr;
    }
}




/* grid-template-rows */
.gridRow{
    &_1_size_1{
        display:grid;
        grid-template-rows: 1fr;
    }
    &_2_size_1{
        display:grid;
        grid-template-rows: 1fr 1fr;
    }
    &_3_size_1{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    &_4_size_1{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    &_5_size_1{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    &_6_size_1{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &_7_size_1{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &_8_size_1{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &_9_size_1{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &_10_size_1{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &_2_size_1_9{
        display:grid;
        grid-template-rows: 1fr 9fr;
    }
    &_2_size_2_8{
        display:grid;
        grid-template-rows: 2fr 8fr;
    }
    &_2_size_3_7{
        display:grid;
        grid-template-rows: 3fr 7fr;
    }
    &_2_size_4_6{
        display:grid;
        grid-template-rows: 4fr 6fr;
    }
    &_2_size_5_5{
        display:grid;
        grid-template-rows: 5fr 5fr;
    }
    &_2_size_6_4{
        display:grid;
        grid-template-rows: 6fr 4fr;
    }
    &_2_size_7_3{
        display:grid;
        grid-template-rows: 7fr 3fr;
    }
    &_2_size_8_2{
        display:grid;
        grid-template-rows: 8fr 2fr;
    }
    &_2_size_9_1{
        display:grid;
        grid-template-rows: 9fr 1fr;
    }
}



/* grid-gap */
.gridGap{
    &_q{
        display:grid;
        grid-gap: $quarter;
    }
    &_h{
        display:grid;
        grid-gap: $half;
    }
    &_tq{
        display:grid;
        grid-gap: $three_quarter;
    }
    &_1{
        display:grid;
        grid-gap: $one;
    }
    &_2{
        display:grid;
        grid-gap: $two;
    }
    &_3{
        display:grid;
        grid-gap: $three;
    }
    &_4{
        display:grid;
        grid-gap: $four;
    }
    &_5{
        display:grid;
        grid-gap: $five;
    }
}




/* grid-row-gap */
.gridRowGap{
    &_q{
        display:grid;
        grid-row-gap: $quarter;
    }
    &_h{
        display:grid;
        grid-row-gap: $half;
    }
    &_tq{
        display:grid;
        grid-row-gap: $three_quarter;
    }
    &_1{
        display:grid;
        grid-row-gap: $one;
    }
    &_2{
        display:grid;
        grid-row-gap: $two;
    }
    &_3{
        display:grid;
        grid-row-gap: $three;
    }
    &_4{
        display:grid;
        grid-row-gap: $four;
    }
    &_5{
        display:grid;
        grid-row-gap: $five;
    }
}






/* grid-column-gap */
.gridColGap{
    &_q{
        display:grid;
        grid-column-gap: $quarter;
    }
    &_h{
        display:grid;
        grid-column-gap: $half;
    }
    &_tq{
        display:grid;
        grid-column-gap: $three_quarter;
    }
    &_1{
        display:grid;
        grid-column-gap: $one;
    }
    &_2{
        display:grid;
        grid-column-gap: $two;
    }
    &_3{
        display:grid;
        grid-column-gap: $three;
    }
    &_4{
        display:grid;
        grid-column-gap: $four;
    }
    &_5{
        display:grid;
        grid-column-gap: $five;
    }
}




