/* height */

    $limit: 100;

    @for $hook from 0 through $limit {
        .h_#{$hook}Per {
            height: (0% + $hook);
        }

        .maxH_#{$hook}Per {
            max-height: (0% + $hook);
        }

        .h_#{$hook}vh {
            height: (0vh + $hook);
        }
    }
    
    $pxLimit: 1000;

    @for $hook from 0 through $pxLimit {
        .h_#{$hook} {
            height: (0px + $hook);
        }
    }

