/* height */
.height{
    &_0_per{height: 0%;}
    &_5_per{height: 5%;}
    &_10_per{height: 10%;}
    &_15_per{height: 15%;}
    &_20_per{height: 20%;}
    &_25_per{height: 25%;}
    &_30_per{height: 30%;}
    &_35_per{height: 35%;}
    &_40_per{height: 40%;}
    &_45_per{height: 45%;}
    &_50_per{height: 50%;}
    &_55_per{height: 55%;}
    &_60_per{height: 60%;}
    &_65_per{height: 65%;}
    &_70_per{height: 70%;}
    &_75_per{height: 75%;}
    &_80_per{height: 80%;}
    &_85_per{height: 85%;}
    &_90_per{height: 90%;}
    &_95_per{height: 95%;}
    &_100_per{height: 100%;}

    &_0_vw{height: 0vw;}
    &_5_vw{height: 5vw;}
    &_10_vw{height: 10vw;}
    &_15_vw{height: 15vw;}
    &_20_vw{height: 20vw;}
    &_25_vw{height: 25vw;}
    &_30_vw{height: 30vw;}
    &_35_vw{height: 35vw;}
    &_40_vw{height: 40vw;}
    &_45_vw{height: 45vw;}
    &_50_vw{height: 50vw;}
    &_55_vw{height: 55vw;}
    &_60_vw{height: 60vw;}
    &_65_vw{height: 65vw;}
    &_70_vw{height: 70vw;}
    &_75_vw{height: 75vw;}
    &_80_vw{height: 80vw;}
    &_85_vw{height: 85vw;}
    &_90_vw{height: 90vw;}
    &_95_vw{height: 95vw;}
    &_100_vw{height: 100vw;}

    &_0{height: $px_0;}
    &_5{height: $px_5;}
    &_10{height: $px_10;}
    &_15{height: $px_15;}
    &_20{height: $px_20;}
    &_25{height: $px_25;}
    &_30{height: $px_30;}
    &_35{height: $px_35;}
    &_40{height: $px_40;}
    &_45{height: $px_45;}
    &_50{height: $px_50;}
    &_55{height: $px_55;}
    &_60{height: $px_60;}
    &_65{height: $px_65;}
    &_70{height: $px_70;}
    &_75{height: $px_75;}
    &_80{height: $px_80;}
    &_85{height: $px_85;}
    &_90{height: $px_90;}
    &_95{height: $px_95;}
    &_100{height: $px_100;}
    &_125{height: $px_100 + $px_25;}
    &_150{height: $px_100 + $px_50;}
    &_175{height: $px_100 + $px_75;}
    &_200{height: $px_100 + $px_100;}
    &_225{height: $px_100 + $px_100 + $px_25;}
    &_250{height: $px_100 + $px_100 + $px_50;}
    &_275{height: $px_100 + $px_100 + $px_75;}
    &_300{height: $px_100 + $px_100 + $px_100;}
    &_325{height: $px_100 + $px_100 + $px_100 + $px_25;}
    &_350{height: $px_100 + $px_100 + $px_100 + $px_50;}
    &_375{height: $px_100 + $px_100 + $px_100 + $px_75;}
    &_400{height: $px_100 + $px_100 + $px_100 + $px_100;}
    &_425{height: $px_100 + $px_100 + $px_100 + $px_100 + $px_25;}
    &_450{height: $px_100 + $px_100 + $px_100 + $px_100 + $px_50;}
    &_475{height: $px_100 + $px_100 + $px_100 + $px_100 + $px_75;}
    &_500{height: $px_100 + $px_100 + $px_100 + $px_100 + $px_100;}
    &_525{height: $px_100 + $px_100 + $px_100 + $px_100 + $px_100 + $px_25;}
    &_550{height: $px_100 + $px_100 + $px_100 + $px_100 + $px_100 + $px_50;}
    &_575{height: $px_100 + $px_100 + $px_100 + $px_100 + $px_100 + $px_75;}
    &_600{height: $px_100 + $px_100 + $px_100 + $px_100 + $px_100 + $px_100;}
}