.hoverEff{
    &_1:hover{
        background-color: transparent;
        border-bottom: 1px solid $darkGray;
        transition: 200ms ease-in-out;
    }

    &_2:hover{
        background-color: transparent;
        border-bottom: 1px solid $dimWhite;
        transition: 200ms ease-in-out;
    }

    &_3:hover{
        border-bottom: 1px solid $sky;
        transition: 200ms ease-in-out;
    }

    &_4:hover{
        background-color: transparent;
        text-decoration: underline;
        transition: 200ms ease-in-out;
    }

    &_5:hover{
        background-color: transparent;
        font-size: 16px;
        transition: 200ms ease-in-out;
    }

    &_6:hover{
        background-color: transparent;
        z-index: 50;
        outline: 2px solid #383838;
        transition: 200ms ease-in-out;
    }
}
