/* z index */
.z_index{
    &_0{z-index: 0;}
    &_1{z-index: 1;}
    &_2{z-index: 2;}
    &_3{z-index: 3;}
    &_4{z-index: 4;}
    &_5{z-index: 5;}
    &_6{z-index: 6;}
    &_7{z-index: 7;}
    &_8{z-index: 8;}
    &_9{z-index: 9;}
    &_10{z-index: 10;}
    &_11{z-index: 11;}
    &_12{z-index: 12;}
    &_13{z-index: 13;}
    &_14{z-index: 14;}
    &_15{z-index: 15;}
    &_16{z-index: 16;}
    &_17{z-index: 17;}
    &_18{z-index: 18;}
    &_19{z-index: 19;}
    &_20{z-index: 20;}
}