/* list style */

.list{
    &In{list-style-position: inside;}
    &Out{list-style-position: outside;}
    &Disc{list-style-type: disc;}
    &Armenian{list-style-type: armenian;}
    &Circle{list-style-type: circle;}
    &Square{list-style-type: square;}
    &Dec{list-style-type: decimal;}
    &DecFrom_0{list-style-type: decimal-leading-zero;}
    &Georgian{list-style-type: georgian;}
    &LowerAlpha{list-style-type: lower-alpha;}
    &LowerGreek{list-style-type: lower-greek;}
    &LowerLatin{list-style-type: lower-latin;}
    &LowerRoman{list-style-type: lower-roman;}
    &UpperAlpha{list-style-type: upper-alpha;}
    &UpperLatin{list-style-type: upper-latin;}
    &UpperRoman{list-style-type: upper-roman;}
    &None{list-style-type: none;}
    &Unset{list-style-type: unset;}
}

