/* auto margin */
.m_a{margin: auto;}

/* margin px */

$pxlimit: 1000;

@for $hook from 0 through $pxlimit {
    .m_#{$hook}px {
        margin: (0px + $hook);
    }
    .mt_#{$hook}px {
        margin-top: (0px + $hook);
    }
    .mr_#{$hook}px {
        margin-right: (0px + $hook);
    }
    .mb_#{$hook}px {
        margin-bottom: (0px + $hook);
    }
    .ml_#{$hook}px {
        margin-left: (0px + $hook);
    }
}

/* margin rem */

$remlimit: 100;

@for $hook from 0 through $remlimit {
    .m_#{$hook} {
        margin: (0rem + $hook);
    }
    .mt_#{$hook} {
        margin-top: (0rem + $hook);
    }
    .mr_#{$hook} {
        margin-right: (0rem + $hook);
    }
    .mb_#{$hook} {
        margin-bottom: (0rem + $hook);
    }
    .ml_#{$hook} {
        margin-left: (0rem + $hook);
    }

    .m_#{$hook}_q {
        margin: ($quarter + $hook);
    }
    .mt_#{$hook}_q {
        margin-top: ($quarter + $hook);
    }
    .mr_#{$hook}_q {
        margin-right: ($quarter + $hook);
    }
    .mb_#{$hook}_q {
        margin-bottom: ($quarter + $hook);
    }
    .ml_#{$hook}_q {
        margin-left: ($quarter + $hook);
    }

    .m_#{$hook}_h {
        margin: ($half + $hook);
    }
    .mt_#{$hook}_h {
        margin-top: ($half + $hook);
    }
    .mr_#{$hook}_h {
        margin-right: ($half + $hook);
    }
    .mb_#{$hook}_h {
        margin-bottom: ($half + $hook);
    }
    .ml_#{$hook}_h {
        margin-left: ($half + $hook);
    }

    .m_#{$hook}_tq {
        margin: ($three_quarter + $hook);
    }
    .mt_#{$hook}_tq {
        margin-top: ($three_quarter + $hook);
    }
    .mr_#{$hook}_tq {
        margin-right: ($three_quarter + $hook);
    }
    .mb_#{$hook}_tq {
        margin-bottom: ($three_quarter + $hook);
    }
    .ml_#{$hook}_tq {
        margin-left: ($three_quarter + $hook);
    }
}

