/* png pattern creation */
@mixin png {
    background-image:
    linear-gradient(45deg, #808080 25%, transparent 25%), 
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, #ffffff 75%, #808080 75%);

    background-size:20px 20px;    
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}



/* title mixin */
@mixin titleCommon {
    font-size: 1.8rem;
    margin: 0px;
    border-bottom: 2px solid #3B3838;
    font-weight: bold;
}
@mixin subTitleCommon {
    font-size: 1.2rem;
    margin: 0px;
    list-style: none;
    font-weight: bold;
    list-style-position: inside;
}



/* highlight mixin */
@mixin highlight {
    padding:$quarter;
    color:#fff;
    border-radius: 5px;
    text-decoration: none;
}













/* disable pattern */
@mixin disable_pattern {background-image: none;}








/* hor scroller mixin */
@mixin hscrlrMix{
    display:grid;
    gap: .5rem;
    padding:.5rem 0rem;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    background-color: #fff;
}




/* ver scroller mixin */
@mixin vscrlrMix{
    display:grid;
    gap: .5rem;
    padding:.5rem 0rem;
    grid-auto-flow: row;
    overflow-y: auto;
    overscroll-behavior-inline: contain;
    background-color: #fff;
}



/* frame mixin */
@mixin frMsT_1{
    display:block;
    height: fit-content;
    padding:1rem;
    @include png;
    @media only screen and (max-width: $mobile) {
        padding:.5rem;
    }
}



/* form */
@mixin formType_1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

@mixin formType_2{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 5px;
}

    /* label */
    @mixin labelBasic{
        font-weight: bold;
        text-decoration: none;
        align-self: center;
    }

    /* input:focus */
    @mixin inputFocBasic{
        border-bottom: 2px solid inherit;
        box-shadow: none;
        outline: none;
    }

     /* disable */
    @mixin disable{
        background: repeating-linear-gradient(
            45deg,
            #ed3030,
            #ed3030 10px,
            #cd2727 10px,
            #cd2727 20px
        );
    }