/* justify content */
.justifyContent{
    &Start{
        justify-content: start;
    }
    &FlexStart{
        justify-content: flex-start;
    }
    &Center{
        justify-content: center;
    }
    &End{
        justify-content: end;
    }
    &FlexEnd{
        justify-content: flex-end;
    }
    &Left{
        justify-items: left;
    }
    &Right{
        justify-items: right;
    }
    &SpaceAround{
        justify-content: space-around;
    }
    &SpaceBetween{
        justify-content: space-between;
    }
    &SpaceEvenly{
        justify-content: space-evenly;
    }
    &Stretch{
        justify-content: stretch;
    }
    &Normal{
        justify-content: normal;
    }
    &Unset{
        justify-content: unset;
    }
}






/* justify self */
.justifySelf{
    &Start{
        justify-self: start;
    }
    &FlexStart{
        justify-self: flex-start;
    }
    &Center{
        justify-self: center;
    }
    &End{
        justify-self: end;
    }
    &FlexEnd{
        justify-self: flex-end;
    }
    &Left{
        justify-items: left;
    }
    &Right{
        justify-items: right;
    }
    &Stretch{
        justify-self: stretch;
    }
    &Baseline{
        justify-self: baseline;
    }
    &Auto{
        justify-self: auto;
    }
    &Normal{
        justify-self: normal;
    }
    &Unset{
        justify-self: unset;
    }
    
}




/* justify item */
.justifyItems{
    &Start{
        justify-items: start;
    }
    &FlexStart{
        justify-items: flex-start;
    }
    &Center{
        justify-items: center;
    }
    &End{
        justify-items: end;
    }
    &FlexEnd{
        justify-items: flex-end;
    }
    &Left{
        justify-items: left;
    }
    &Right{
        justify-items: right;
    }
    &Stretch{
        justify-items: stretch;
    }
    &Baseline{
        justify-items: baseline;
    }
    &Auto{
        justify-items: auto;
    }
    &Normal{
        justify-items: normal;
    }
    &Unset{
        justify-items: unset;
    }
    
}