/* align content */
.alignContent{
    &Start{
        align-content: start;
    }
    &FlexStart{
        align-content: flex-start;
    }
    &Center{
        align-content: center;
    }
    &End{
        align-content: end;
    }
    &FlexEnd{
        align-content: flex-end;
    }
    &SpaceAround{
        align-content: space-around;
    }
    &SpaceBetween{
        align-content: space-between;
    }
    &SpaceEvenly{
        align-content: space-evenly;
    }
    &Stretch{
        align-content: stretch;
    }
    &Baseline{
        align-content: baseline;
    }
    &Auto{
        align-content: auto;
    }
    &Normal{
        align-content: normal;
    }
    &Unset{
        align-content: unset;
    }
    
}






/* align self */
.alignSelf{
    &Start{
        align-self: start;
    }
    &FlexStart{
        align-self: flex-start;
    }
    &Center{
        align-self: center;
    }
    &End{
        align-self: end;
    }
    &FlexEnd{
        align-self: flex-end;
    }
    &Stretch{
        align-self: stretch;
    }
    &Baseline{
        align-self: baseline;
    }
    &Auto{
        align-self: auto;
    }
    &Normal{
        align-self: normal;
    }
    &Unset{
        align-self: unset;
    }
    
}




/* align item */
.alignItems{
    &Start{
        align-items: start;
    }
    &FlexStart{
        align-items: flex-start;
    }
    &Center{
        align-items: center;
    }
    &End{
        align-items: end;
    }
    &FlexEnd{
        align-items: flex-end;
    }
    &Stretch{
        align-items: stretch;
    }
    &Baseline{
        align-items: baseline;
    }
    &Normal{
        align-items: normal;
    }
    &Unset{
        align-items: unset;
    }
    
}