/* over flow */
.overflow_{
    &_hidden{overflow:hidden;}
    &_scroll{overflow:scroll;}
    &_auto{overflow:auto;}
    &_visible{overflow:visible;}

    &_x_hidden{overflow-x:hidden;}
    &_x_scroll{overflow-x:scroll;}
    &_x_auto{overflow-x:auto;}
    &_x_visible{overflow-x:visible;}

    &_y_hidden{overflow-y:hidden;}
    &_y_scroll{overflow-y:scroll;}
    &_y_auto{overflow-y:auto;}
    &_y_visible{overflow-y:visible;}
}