/* over flow */
.of{
    &Hidden{overflow:hidden;}
    &Scroll{overflow:scroll;}
    &Auto{overflow:auto;}
    &Visible{overflow:visible;}

    &HiddenX{overflow-x:hidden;}
    &ScrollX{overflow-x:scroll;}
    &AutoX{overflow-x:auto;}
    &VisibleX{overflow-x:visible;}

    &HiddenY{overflow-y:hidden;}
    &ScrollY{overflow-y:scroll;}
    &AutoY{overflow-y:auto;}
    &VisibleY{overflow-y:visible;}
}