
/* padding px */

$pxlimit: 1000;

@for $hook from 0 through $pxlimit {
    .p_#{$hook}px {
        padding: (0px + $hook);
    }
    .pt_#{$hook}px {
        padding-top: (0px + $hook);
    }
    .pr_#{$hook}px {
        padding-right: (0px + $hook);
    }
    .pb_#{$hook}px {
        padding-bottom: (0px + $hook);
    }
    .pl_#{$hook}px {
        padding-left: (0px + $hook);
    }
}

/* padding rem */

$remlimit: 100;

@for $hook from 0 through $remlimit {
    .p_#{$hook} {
        padding: (0rem + $hook);
    }
    .pt_#{$hook} {
        padding-top: (0rem + $hook);
    }
    .pr_#{$hook} {
        padding-right: (0rem + $hook);
    }
    .pb_#{$hook} {
        padding-bottom: (0rem + $hook);
    }
    .pl_#{$hook} {
        padding-left: (0rem + $hook);
    }

    .p_#{$hook}_q {
        padding: ($quarter + $hook);
    }
    .pt_#{$hook}_q {
        padding-top: ($quarter + $hook);
    }
    .pr_#{$hook}_q {
        padding-right: ($quarter + $hook);
    }
    .pb_#{$hook}_q {
        padding-bottom: ($quarter + $hook);
    }
    .pl_#{$hook}_q {
        padding-left: ($quarter + $hook);
    }

    .p_#{$hook}_h {
        padding: ($half + $hook);
    }
    .pt_#{$hook}_h {
        padding-top: ($half + $hook);
    }
    .pr_#{$hook}_h {
        padding-right: ($half + $hook);
    }
    .pb_#{$hook}_h {
        padding-bottom: ($half + $hook);
    }
    .pl_#{$hook}_h {
        padding-left: ($half + $hook);
    }

    .p_#{$hook}_tq {
        padding: ($three_quarter + $hook);
    }
    .pt_#{$hook}_tq {
        padding-top: ($three_quarter + $hook);
    }
    .pr_#{$hook}_tq {
        padding-right: ($three_quarter + $hook);
    }
    .pb_#{$hook}_tq {
        padding-bottom: ($three_quarter + $hook);
    }
    .pl_#{$hook}_tq {
        padding-left: ($three_quarter + $hook);
    }
}