/* position */
.posRel{position: relative;}
.posAbs{position: absolute;}
.posFix{position: fixed;}
.posStat{position: static;}
.posStik{position: sticky;}

    $Limit: 1000;

    @for $hook from 0 through $Limit {

        /* top */

        .top_#{$hook} {
            top: (0px + $hook);
        }
        .negTop_#{$hook} {
            top: (0px - $hook);
        }

        /* right */

        .right_#{$hook} {
            right: (0px + $hook);
        }
        .negRight_#{$hook} {
            right: (0px - $hook);
        }

        /* bottom */

        .bottom_#{$hook} {
            bottom: (0px + $hook);
        }
        .negBottom_#{$hook} {
            bottom: (0px - $hook);
        }

        /* left */

        .left_#{$hook} {
            left: (0px + $hook);
        }
        .negLeft_#{$hook} {
            left: (0px - $hook);
        }

    }


