/* Responsiveness */

/***********************************************************************************/
/***********************************************************************************/
/********************************** DESKTOP ****************************************/
/***********************************************************************************/
/***********************************************************************************/
@media screen and (max-width: $pc) {
/* start of large tablet styles */
    
}














/***********************************************************************************/
/***********************************************************************************/
/*********************************** TABLET ****************************************/
/***********************************************************************************/
/***********************************************************************************/
@media screen and (max-width: $tablet) {
/* start of medium tablet styles */

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////BASICS////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////

//-------------------------------------FONTS----------------------------------------/

    body{
        font-size: 12px;
    }







/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////BUILT IN ELEMENTS///////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////

//-------------------------------------TABLE----------------------------------------/

    .res{

        &Table{
            display: grid;
            border:0px;
        }

        &HeaderItem{
            display: none;
        }

        &Row{
            display: grid;
            margin-bottom:16px;
        }

        &Row:nth-child(odd){
            background-color: #fff;
        }

        &Row:nth-child(even){
            background-color: #fff;
        }

        &Data{
            text-align: right;
            padding:4px;
            color:#3b3838;
            position: relative;
            border-bottom:2px solid #fff;
            width: 100%;
        }

        &Data:nth-child(odd){
            background-color: #dddfff;
        }

        &Data:nth-child(even){
            background-color: #eeefff;
        }

        &Data:before{
            content:attr(data-label);
            position: absolute;
            left:0;
            width: 40%;
            text-align: left;
            padding:0px 4px;
            color:#3b3838;
            font-weight: bold;
        }

    }

//----------------------------------------------------------------------------------/

}

















/***********************************************************************************/
/***********************************************************************************/
/************************************* MOBILE **************************************/
/***********************************************************************************/
/***********************************************************************************/
@media screen and (max-width: $mobile) {
/* start of phone styles */

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////BASICS////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////

//-------------------------------------FONTS----------------------------------------/

    body{
        font-size: 11px;
    }

//--------------------------------------TITLE---------------------------------------/

    .title{
        &R{
            font-size: 1.1rem;
        }
        &L{
            font-size: 1.1rem;
        }
        &C{
            font-size: 1.1rem;
        }
    }

    .subTitle{
        &R{
        font-size: .8rem;
        }
        &L{
            font-size: .8rem;
        }
        &C{
            font-size: .8rem;
        }
    }









/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////BUILT IN ELEMENTS///////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////




}








.delOnTab{

    @media only screen and (max-width: $tablet) {
        display:none;
    }

}

.delOnPc{

    @media only screen and (max-width: $pc) {
        display:none;
    }

}

.delOnMob{

    @media only screen and (max-width: $mobile) {
        display:none;
    }

}

