/* Responsiveness */

/***********************************************************************************/
/***********************************************************************************/
/********************************** DESKTOP ****************************************/
/***********************************************************************************/
/***********************************************************************************/
//@media screen and (max-width: 991px) {
/* start of large tablet styles */
    
//}














/***********************************************************************************/
/***********************************************************************************/
/*********************************** TABLET ****************************************/
/***********************************************************************************/
/***********************************************************************************/
//@media screen and (max-width: $tablet) {
/* start of medium tablet styles */

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////BASICS////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////











/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////BUILT IN ELEMENTS///////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////

//-------------------------------------SHELF----------------------------------------/


//}

















/***********************************************************************************/
/***********************************************************************************/
/************************************* MOBILE **************************************/
/***********************************************************************************/
/***********************************************************************************/
//@media screen and (max-width: $mobile) {
/* start of phone styles */

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////BASICS////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////

//.DELETEonMOB{
    //display: none;
    //opacity: 0;
//}









/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////BUILT IN ELEMENTS///////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////

//-------------------------------------SHELF----------------------------------------/


//}








.delOnTab{

    @media only screen and (max-width: $tablet) {
        display:none;
    }

}

.delOnPc{

    @media only screen and (max-width: $pc) {
        display:none;
    }

}

.delOnMob{

    @media only screen and (max-width: $mobile) {
        display:none;
    }

}

