/* rem sizes */
$quarter: 0.25rem;
$half: 0.5rem;
$three_quarter: 0.75rem;
$one: 1rem;
$two: 2rem;
$three: 3rem;
$four: 4rem;
$five: 5rem;
$six: 6rem;
$seven: 7rem;
$eight: 8rem;
$nine: 9rem;
$ten: 10rem;
$eleven: 11rem;
$twelve: 12rem;
$thirteen: 13rem;
$fourteen: 14rem;
$fifteen: 15rem;
$sixteen: 16rem;
$seventeen: 17rem;
$eighteen: 18rem;
$nineteen: 19rem;
$twenty: 20rem;

/* font weights */
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$bolder: 900;

/* colors */
$white: #ffffff;
$rose_white: #fffeee;
$hof_white: #eeefff;
$dim_white: #dddddd;
$pure_black: #000000;
$gray: #3b3838;
$dark: #1b1b1b;
$dark_gray: #2e2e2e;
$dark_ash: #414141;
$dark_blue: #2d1f93;
$sky: #338bd5;
$danger: #FF0000;
$success: #45f248;
$alert: #fff222;
$gold: #ffdc00;
