/* rem sizes */
$zero: 0rem;
$quarter: 0.25rem;
$half: 0.5rem;
$three_quarter: 0.75rem;
$one: 1rem;
$two: 2rem;
$three: 3rem;
$four: 4rem;
$five: 5rem;
$six: 6rem;
$seven: 7rem;
$eight: 8rem;
$nine: 9rem;
$ten: 10rem;
$eleven: 11rem;
$twelve: 12rem;
$thirteen: 13rem;
$fourteen: 14rem;
$fifteen: 15rem;
$sixteen: 16rem;
$seventeen: 17rem;
$eighteen: 18rem;
$nineteen: 19rem;
$twenty: 20rem;

/* font weights */
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$bolder: 900;

/* colors */
$transparent: #ffffff00;
$white: #ffffff;
$rose_white: #fffeee;
$hof_white: #eeefff;
$dim_white: #dddddd;
$pure_black: #000000;
$gray: #3b3838;
$dark: #1b1b1b;
$dark_gray: #2e2e2e;
$dark_ash: #414141;
$thasin: #212129;
$thasin_2: #18181a;
$dark_blue: #2d1f93;
$pure_blue: #378ffc;
$sky: #338bd5;
$danger: #FF0000;
$success: #45f248;
$alert: #fff222;
$gold: #ffdc00;

/* px size */
$px_0: 0px;
$px_1: 1px;
$px_2: 2px;
$px_3: 3px;
$px_4: 4px;
$px_5: 5px;
$px_6: 6px;
$px_7: 7px;
$px_8: 8px;
$px_9: 9px;
$px_10: 10px;
$px_11: 11px;
$px_12: 12px;
$px_13: 13px;
$px_14: 14px;
$px_15: 15px;
$px_16: 16px;
$px_17: 17px;
$px_18: 18px;
$px_19: 19px;
$px_20: 20px;
$px_25: 25px;
$px_30: 30px;
$px_35: 35px;
$px_40: 40px;
$px_45: 45px;
$px_50: 50px;
$px_55: 55px;
$px_60: 60px;
$px_65: 65px;
$px_70: 70px;
$px_75: 75px;
$px_80: 80px;
$px_85: 85px;
$px_90: 90px;
$px_95: 95px;
$px_100: 100px;