/* rem sizes */
$zero: 0rem;
$quarter: 0.25rem;
$half: 0.5rem;
$three_quarter: 0.75rem;
$one: 1rem;
$two: 2rem;
$three: 3rem;
$four: 4rem;
$five: 5rem;
$six: 6rem;
$seven: 7rem;
$eight: 8rem;
$nine: 9rem;
$ten: 10rem;
$eleven: 11rem;
$twelve: 12rem;
$thirteen: 13rem;
$fourteen: 14rem;
$fifteen: 15rem;
$sixteen: 16rem;
$seventeen: 17rem;
$eighteen: 18rem;
$nineteen: 19rem;
$twenty: 20rem;

/* font weights */
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$bolder: 900;

/* colors */

    /* white */
    $white: #FFFFFF;
    $ghostWhite: #F8F8FF;
    $whiteSmoke: #F5F5F5;
    $babyPowder: #FEFEFA;
    $snow: #F5FEFD;
    $ivory: #FFFFF0;
    $floralWhite: #FFFAF0;
    $seashell: #FFF5EE;
    $cornsilk: #FFF8DC;
    $oldLace: #FDF5E6;
    $cream: #FFFDD0;
    $beige: #F5F5DC;
    $parchment: #F1E9D2;
    $antiqueWhite: #FAEBD7;
    $champagne: #F7E7CE;
    $eggshell: #F0EAD6;
    $dutchWhite: #EFDFBB;
    $bone: #E3DAC9;
    $vanilla: #F3E5AB;
    $flax: #EEDC82;
    $navajoWhite: #FFDEAD;
    $alabaster: #EDEAE0;
    $chiffon: #FFFACD;
    $unresolvedProblem: #F3F2ED;
    $oldWood: #F0EEE4;
    $roseWhite: #FFFAFA;
    $vistaWhite: #FDFCFA;
    $linkWhite: #ECF3F9;
    $spring: #F3F0E8;
    $snowDrift: #F8FBF8;
    $peppermint: #F1F9EC;
    $merino: #F2EBDD;
    $halfAndHalf: #FFFFE4;
    $islandSpice: #FFFCEC;
    $softPeach: #F6F1F4;
    $harp: #EBF5F0;
    $titanWhite: #EEEEFF;
    $audienceAnger: #EAF4FC;
    $orangeWhite: #F8F9F5;
    $coughMixture: #F6F4F1;
    $albescentWhite: #F3DECA;
    $coconut: #FFF1E6;
    $pinkSalt: #F8EEEC;
    $frost: #FCFBFC;
    $linen: #F3EAD3;
    $rice: #FAF5EF;
    $daisy: #FAFAFA;
    $powder: #FBFCFA;
    $pearl: #FBFCF8;
    $parisWhite: #C2D8D3;
    $cupCake: #EBF6F7;
    $whiteDove: #F0EFE7;
    $whiteWhisper: #EAE8E1;
    $lexicon: #E7EAEA;
    $greekVilla: #F0EBE3;
    $whiteDiamond: #E7E8E2;
    $decoratorWhite: #ECEFEC;
    $winterWhite: #DFDFD5;
    $spatialWhite: #DEDDDB;
    $hogBristleQuarter: #EBE4D8;
    $simplyWhite: #EFEDE3;
    $oysterWhite: #E3DFD2;
    $whiteOnWhite: #EDEFEF;
    $lexiconQuarter: #F2F2F1;
    $aliceBlue: #F0F8FF;
    $honeydew: #F0FFF0;
    $mintCream: #F5FFFA;
    $milk: #FDFFF5;
    $pomeloWhite: #F9FFE3;
    $antiFlashWhite: #F2F3F4;
    $magnolia: #F8F4FF;
    $azure: #F0FFFF;
    $huntingtonWhite: #F1F0E5;
    $acadiaWhite: #F4EFE3;
    $gainsboro: #DCDCDC;
    $mercury: #E7E7E7;
    $lavenderBlush: #FFF0F5;
    $isabelline: #F4F0EC;
    $bubbles: #E7FEFF;
    $glitter: #E6E8FA;
    $platinum: #E5E4E2;
    $cosmicLatte: #FFF8E7;
    $blanchedAlmond: #FFEBCD;
    $lightYellow: #FFFFE0;
    $naturalWhite: #EEECE6;
    $vividWhite: #F8F8F4;
    $whiteWisp: #E9E9E4;
    $azureishWhite: #DBE9F4;
    $timberwolf: #DBD7D2;
    $papayaWhip: #FFEFD5;
    $antiqueWhiteUSA: #EEEAE1;
    $cola: #F9EDEB;
    $atriumWhite: #F1EEE4;
    $cascadingWhite: #F7F5F6;
    $cottonBall: #F2F7FD;
    $photonWhite: #F8F8E8;
    $whiteHeat: #FDF9EF;
    $whitewash: #FEFFFC;
    $shadowWhite: #EEF1EA;
    $abbeyWhite: #EBE5D0;
    $acousticWhite: #EFECE1;
    $aircraftWhite: #EDF2F8;
    $ceramic: #FCFFF9;
    $coconutButter: #F2EFE1;
    $abstractWhite: #EDE9DD;
    $brightWhite: #F4F5F0;
    $brokenWhite: #EEEBE3;
    $brilliantWhite: #EDF1FE;
    $commercialWhite: #EDECE6;
    $featherWhite: #E7EAE5;
    $swanWhite: #FCFCFC;
    $polarBear: #EAE9E0;
    $paperWhite: #F7FCFE;
    $pacificPearl: #E8EAE6;
    $nightWhite: #E1E1DD;
    $delicateWhite: #F1F2EE;
    $coconutWhite: #E9EDF6;
    $cakeBatter: #F0EDDB;
    $whiteSand: #ECE9E4;
    $stoneWhite: #FBF6F0;
    $whiteChocolate: #EDE6D6;
    $retroWhite:#EDEAE2;
    $hofWhite: #eeefff;
    $dimWhite: #dddddd;

    /* black */

    $abbey: #494F55;
    $ashGray: #666362;
    $asphalt: #0C0404;
    $black: #000000;
    $blackBean: #3D0C02;
    $blackCat: #413839;
    $blackCow: #4C4646;
    $blackEel: #463E3F;
    $blackOlive: #3B3C36;
    $charcoal: #36454F;
    $charlestonGreen: #232B2B;
    $darkJungleGreen: #1A2421;
    $davyGray: #555555;
    $dimGray: #696969;
    $ebony: #555D50;
    $eerieBlack: #1B1B1B;
    $granite: #676767;
    $gray: #808080;
    $grayCloud: #B6B6B4;
    $grayWolf: #504A4B;
    $gunMetal: #2C3539;
    $iridium: #3D3C3A;
    $jet: #343434;
    $licorice: #1A1110;
    $midnight: #2B1B17;
    $night: #0C090A;
    $oil: #3B3131;
    $oldBurgundy: #43302E;
    $onyx: #353839;
    $outerSpace: #414A4C;
    $raisinBlack: #242124;
    $smokyBlack: #100C08;
    $taupe: #483C32;
    $vampireGray: #565051;
    $blackLeatherJacket: #253529;
    $cafeAmericano: #362819;
    $blackberry: #3A3A38;
    $lampBlack: #2E473B;
    $armyUniform: #353F3E;
    $slate: #26282A;
    $pitchBlack: #27251F;
    $spider: #040200;
    $metal: #0E0C0A;
    $grease: #080806;
    $crow: #0D0907;
    $blackRock: #010127;
    $basaltBlack: #4D423E;
    $neutralBlack: #0B0B0B;
    $blackDenim: #191C27;
    $vampireBlack: #0F0404;
    $coolBlack: #151922;
    $pandaBlack: #3C4748;
    $frostBlack: #191C20;
    $inkBlack: #212122;
    $raven: #050301;
    $leather: #0B0705;
    $sable: #060606;
    $powerBlack: #0E0C01;
    $soot: #160D08;
    $jade: #000302;
    $trueBlack: #0A0B0B;
    $premiumBlack: #100E09;
    $obsidian: #020403;
    $blackGrain: #2C2C2A;
    $blackMagic: #0B0510;
    $ironBlack: #343432;
    $richBlack: #010B13;
    $warmBlack: #004242;
    $blackCoral: #54626F;
    $blackShadows: #BFAFB2;
    $blackRaspberry: #451425;
    $kombuGreen: #354230;
    $zinnwalditeBrown: #2C1608;
    $darkSlateGray: #2F4F4F;
    $darkCharcoal: #333333;
    $russianViolet: #32174D;
    $oliveDrab: #3C341F;
    $darkSienna: #3C1414;
    $alienBlack: #1A2228;
    $blackChocolate: #1B1811;
    $blueCharcoal: #262B2F;
    $gothicGrape: #120321;
    $metropolis: #1A1A1A;
    $nightShadow: #1C1C1C;
    $offBlack: #595652;
    $darkRaisin: #1A0F0F;
    $teaBag: #161311;
    $electricBlack: #292929;
    $techBlack: #0D0E0E;
    $dullBlack: #161616;
    $darkBlack: #010203;
    $naturalBlack: #07000B;
    $retroBlack: #1F201F;
    $blackGreen: #303D3A;
    $deepBlack: #050203;
    $refreshBlack: #111212;
    $rusticBlack: #1B1A16;
    $roseEbony: #674846;
    $liver: #534B4F;
    $purpleTaupe: #50404D;
    $blackPearl: #0E161A;
    $blackRussian: #24252B;
    $aestheticBlack: #1C1C1E;
    $signalBlack: #2B2B2C;
    $cafeNoir: #4B3621;
    $luxuryBlack: #060D0D;
    $brightBlack: #222024;
    $blackBlue: #1A1E28;
    $glossyBlack: #252324;
    $ivoryBlack: #231F20;
    $pastelBlack: #1D1C1A;
    $fashionBlack: #060403;
    $graphiteBlack: #27292B;
    $blackGray: #303234;
    $blackHole: #060605;
    $kokushoku: #171412;
    $kurotobi: #351E1C;
    $void: #010207;
    $wetSuit: #080706;
    $yachtClubBlack: #222627;
    $youngNight: #232323;
    $blackstrapMolasses: #2B2523;
    $carbonBlack: #0C0A00;
    $cynicalBlack: #171717;
    $blackPlum: #362B32;
    $reversedGray: #080808;
    $stout: #0F0B0A;
    $tornadoCloud: #121213;
    $walnutHull: #1B1813;
    $tapShoe: #2A2B2D;
    $woodsmoke: #2B3230;
    $blackRed: #3D2022;
    $windCave: #1F2024;
    $heavyGray: #050505;

    /* Green */

    $ForestGreen: #0B6623;
    $Olive: #708238;
    $HunterGreen: #3F704D;
    $ArtichokeGreen: #8F9779;
    $JungleGreen: #29AB87;
    $TropicalRainforest: #00755E;
    $Amazon: #3B7A57;
    $DeepJungleGreen: #004B49;
    $MediumJungleGreen: #1C352D;
    $DarkJungleGreen: #1A2421;
    $MossGreen: #8A9A5B;
    $MyrtleGreen: #317873;
    $PineGreen: #01796F;
    $PersianGreen: #00A693;
    $EmeraldGreen: #50C878;
    $NeonGreen: #39FF14;
    $SacramentoGreen: #043927;
    $SeaGreen: #2E8B57;
    $SageGreen: #9DC183;
    $LimeGreen: #C7EA46;
    $JadeGreen: #00A86B;
    $FernGreen: #4F7942;
    $LaurelGreen: #A9BA9D;
    $MintGreen: #98FB98;
    $TeaGreen: #D0F0C0;
    $ArmyGreen: #4B5320;
    $KellyGreen: #4CBB17;
    $RussianGreen: #679267;
    $ParisGreen: #50C878;
    $PakistanGreen: #006600;
    $MidnightGreen:#004953;
    $IndiaGreen:#138808;
    $HunterGreen:#355E3B;
    $Celadon:#ACE1AF;
    $Avocado:#568203;
    $Harlequin:#3FFF00;
    $SpringGreen:#00F0A8;
    $Kaitoke:#004830;
    $ScreaminGreen:#76FF7A;
    $Chateau:#48A860;
    $DarkMossGreen:#4A5D23;
    $Swamp:#A8C090;
    $Mantis:#74C365;
    $Fun:#007848;
    $PantoneGreen:#4B6F44;
    $Viridian:#609078;
    $ResedaGreen:#6C7C59;
    $Chetwode:#F0FFF0;
    $ShamrockGreen:#009E60;
    $Verdun:#487800;
    $CastletonGreen:#00563B;
    $Gin:#D8E4BC;
    $GrannySmithApple:#A8E4A0;
    $BitterLime:#BFFF00;
    $BrightMint:#4FFFB0;
    $BottleGreen:#006A4E;
    $CadmiumGreen:#006B3C;
    $CamouflageGreen:#78866B;
    $Pear:#D1E231;
    $DollarBill:#85BB65;
    $Inchworm:#B2EC5D;
    $Asparagus:#87A96B;
    $CaribbeanGreen: #00CC99;
    $GoGreen: #00AB66;
    $PhthaloGreen: #123524;
    $NapierGreen: #2A8000;
    $Feldgrau: #4D5D53;
    $GreenYellow: #ADFF2F;
    $Malachite: #0BDA51;
    $RifleGreen: #444C38;
    $Volt: #CEFF00;
    $BritishRacingGreen: #004225;
    $Thyme: #5EDC1F;
    $Chartreuse: #7FFF00;
    $CornGreen: #71A92C;
    $ShrekGreen: #C4D300;
    $ChristmasGreen: #00873E;
    $IrishGreen: #009A44;
    $RoadSignGreen: #01735C;
    $LightsaberGreen: #2FF924;
    $GirlScoutGreen: #00AE58;
    $TennisCourtGreen: #6C935C;
    $SpringBud: #A7FC00;
    $ChineseGreen: #D0DB61;
    $ArcticLime: #D0FF14;
    $Nyanza: #E9FFDB;
    $DarkLemonLime: #76BA1B;
    $CrayolaYellowGreen: #ACDF87;
    $MaximumGreen: #4C9A2A;
    $VividLimeGreen: #A4DE02;
    $Pistachio: #93C572;
    $MediumSpringGreen: #00FA9A;
    $SheenGreen: #8FD400;
    $LaSalleGreen: #087830;
    $SpanishViridian: #007F5C; 
    $DartmouthGreen: #00703C;
    $PineNeedleColor: #454D32;
    $OliveDrab: #6B8E23;
    $LawnGreen: #7CFC00;
    $Xanadu: #738678;
    $DarkOliveGreen: #556B2F;
    $DarkSeaGreen: #8FBC8F;
    $GreenMunsell: #00A877;
    $MughalGreen: #306030;
    $JohnDeereGreen: #367C2B;
    $OfficeGreen: #008000;
    $Limerick: #9DC209;
    $MaxGreenYellow: #D9E650;
    $FrenchLime: #9EFD38;
    $MediumSpringBud: #C9DC87;
    $UFOGreen: #3CD070;
    $AcidGreen: #B0BF1A;
    $ChlorophyllGreen: #4AFF00;
    $GreenLizard: #A7F432;
    $IguanaGreen: #71BC78;
    $KombuGreen: #354230;
    $MiddleGreen: #4D8C57; 
    $PaoloGreen: #009B7D;
    $PullmanGreen: #3B331C;
    $GreenScreen: #00B140;
    $AndroidGreen: #A4C639;
    $BitterLemon: #CAE00D;
    $WageningenGreen: #34B233;
    $SapGreen: #507D2A;
    $OldMossGreen: #867E36;
    $SlimyGreen: #299617;
    $LightMalachite: #64E986;
    $DarkSpringGreen: #177245;
    $GuppieGreen: #00FF7F;
    $AppleGreen: #8DB600;
    $DeepGreen: #056608;
    $HookerGreen: #49796B;
    $MediumSeaGreen: #3CB371;
    $TurquoiseGreen: #A0D6B4;

    /* purple */

    $TruePurple: #6A0DAD;
    $Thistle: #D8BFD8;
    $Plum: #DDA0DD;
    $Violet: #8F00FF;
    $Orchid: #DA70D6;
    $Fuchsia: #FF00FF;
    $MediumOrchid: #BA55D3;
    $MediumPurple: #9370DB;
    $BlueViolet: #8A2BE2;
    $DarkViolet: #9400D3;
    $DarkOrchid: #9932CC;
    $DarkMagenta: #8B008B;
    $Indigo: #4B0082;
    $Veronica: #A020F0;
    $PalePurple: #FAE6FA;
    $Mauve: #E0B0FF;
    $Heliotrope: #DF73FF;
    $Phlox: #DF00FF;
    $PurplePizzazz: #FE4EDA;
    $LiserianPurple: #DE6FA1;
    $Mulberry: #C54B8C;
    $PearlyPurple: #B768A2;
    $Purpureus: #9A4EAE;
    $NorthwesternPurple: #4E2A84;
    $KSUPurple: #512888;
    $PompPower: #86608E;
    $MardiGras: #880085;
    $Eminence: #6C3082;
    $PansyPurple: #78184A;
    $Palatinate: #72246C;
    $DarkPurple: #301934;
    $Byzantium: #702963;
    $AfricanViolet: #B284BE;
    $Amethyst: #9966CC;
    $ChineseViolet: #856088;
    $EnglishViolet: #563C5C;
    $RussianViolet: #32174D;
    $FairyTale: #F2C1D1;
    $Fandango: #B53389;
    $FrenchMauve: #D473D4;
    $Affair: #6F4685;
    $BossJokes: #B0306A;
    $Iris: #9867C5;
    $LongDistance: #6F456E;
    $PrinceCharming: #493F5E;
    $LipstickStain: #8E4785;
    $Pompadour: #720058;
    $GrapeColor: #6F2DA8;
    $Wine: #2C041C;
    $PizzaEdge: #9A2CA0;
    $TyrianPurple: #66023C;
    $UltraViolet: #645394;
    $Studio: #7851A9;
    $ElectricPurple: #BF00FF;
    $Eggplant: #311432;
    $PeriwinklePurple: #BE93E4;
    $Sangria: #4D0F28;
    $Raisin: #290916;
    $MountbattenPink: #997A8D;
    $FuchsiaBlue: #9C51B6;
    $GoodTax: #C9A0FF;
    $Jam: #67032F;
    $RipePlum: #410056;
    $Heather: #9E7BB5;
    $MagentaPurple: #A32CC4;
    $MountainsMajesty: #9078C0;
    $OldLavender: #796878;
    $RebeccaPurple: #663399;
    $RazzmicBerryPurple: #8D4E85;
    $WineDregsPurple: #673147;
    $RegaliaPurple: #522D80;
    $TwilightLavenderPurple: #8A496B;
    $TraditionalPurple: #8E4585;
    $SpanishVioletPurple: #4C2882;
    $ImperialPurple: #602F6B;
    $JapaneseVioletPurple: #5B3256;
    $MunsellPurple: #9F00C5;
    $DeepRubyPurple: #843F5B;
    $PurpleHeart: #7442C8;
    $LavenderBlush: #FFF0F5;
    $EarlyBird: #CEA2FD;
    $Lilac: #B65FCF;
    $PurpleTaupe: #50404D;
    $CyberGrapePurple: #58427C;
    $KingfisherDaisy: #653780;
    $Seance: #61346B;
    $LavenderGray: #B6B5D8;
    $Hopbush: #D05FAD;
    $Tacao: #6F3096;
    $BrilliantPurple: #D399E6;
    $MurasakiPurple: #4F284B;
    $BlackishPurple: #291E29;
    $LovelyPurple: #7F38EC;
    $GrapeJelly: #3E2F84;
    $ArkansasPurple: #4F2D7F ;
    $FedExPurple: #660099 ;
    $CarolinaPlum: #9B84A1;
    $Kalamata: #705160;
    $BlackCurrant: #540E32;
    $Purple4: #551A8B;
    $StrongPurple: #875692;
    $PalePurple: #AA98A9;
    $VividReddishPurple: #870074;
    $MediumPurple3: #8968CD;
    $MiddlePurple: #D982B5;
    $Cardinal: #8A244E;
    $EmbassyPurple: #3B343C;
    $LakersPurple: #552582;
    $AmaranthPurple: #AB274F;
    $PurpleNavy: #4E5180;
    $InsolentPurple: #682E3C;
    $SmyrnaPurple: #A2627A;
    $EastCarolinaPurple: #592A8A;
    $LittlePrincess: #E9DCE5;
    $AestheticPurple: #502380;
    $KikyoIru: #5D3F6A;
    $MetallicPurple: #520E7D;
    $HotPurple: #A420D0;
    $FadedPurple: #795F80;
    $MythicalPurple: #53277E;
    $LanguidLavender: #D6CADD;
    $Mauveine: #8D029B;
    $BlueLilac: #7B679A;
    $DarkByzantium: #5D3954;
    $LuxuryPurple: #743089;
    $AztechPurple: #893BFF;
    $BaltimoreRavensPurple: #280353;
    $DeepMagenta: #CC00CC;
    $DeepPurple: #524F81;
    $RusticPurple: #593163;
    $SunsetPurple: #A865B5;
    $ArtistsPurple: #C71585;
    $DullPurple: #9861A5;
    $TrafficPurple: #913073;
    $MattePurple: #392A48;
    $PurpleViolet: #47243C;
    $PurpleCMYK: #6A317F ;
    $OceanPurple: #6E2D91 ;
    $ShinyPurple: #B941FF;
    $AutumnPurple: #834468;

    /* yellow */

    $SunshineYellow: #FFFD37;
    $CanaryYellow: #FFEF00;
    $LemonYellow: #FDFF00;
    $Goldenrod: #DAA520;
    $Saffron: #F4C430;
    $Citrine: #E4D00A;
    $Trombone: #D2B55B;
    $LightYellow: #FFFFE0;
    $LemonChiffon: #FFFACD;
    $Flax: #EEDC82;
    $LightGoldenrod: #FAFAD2;
    $PaleGoldenrod: #EEE8AA;
    $LightKhaki: #F0E68C;
    $CloverLime: #FCE883;
    $Xanthic: #EEED09;
    $RoyalYellow: #FADA5E;
    $Cream: #FFFFCC;
    $Gold: #FFD700;
    $SafetyYellow: #EED202;
    $Laguna: #F8E473;
    $HunyadiYellow: #E8AC41;
    $BrightYellow: #FFFD01;
    $GreenishYellow: #EEEA62;
    $NeonYellow: #CFFF04 ;
    $DarkYellow: #D5B60A;
    $Sand: #E2CA76;
    $Sunflower: #FFDA03;
    $Bumblebee: #FCE205;
    $Butter: #FFFD74;
    $YellowTan: #FFE36E;
    $CyberYellow: #FFD300;
    $Banana: #FFE135;
    $Tuscany: #FCD12A;
    $Honey: #FFC30B;
    $Dijon: #C49102;
    $Amber: #FFBF00;
    $Beige: #F5F5DC;
    $Mustard: #FEDC56;
    $MaximumYellow: #FAFA37;
    $MellowYellow: #F8DE7E;
    $UnmellowYellow: #FFFF66;
    $LemonCurry: #CCA01D;
    $Moccasin: #FFE4B5;
    $OrangeYellow: #FFAD01;
    $PastelYellow: #FFFE71;
    $TaxiCabYellow: #FDB813;
    $Aureolin: #FDEE00;
    $ElectricYellow: #FFFF33;
    $ChartreuseTraditional: #DFFF00;
    $TitaniumYellow: #EEE600;
    $MikadoYellow: #FFC40C;
    $FluorescentYellow: #CCFF00;
    $ArylideYellow: #E9D66B;
    $IndianYellow: #E3A857;
    $DurianYellow: #E1BD27;
    $MinionYellow: #F5E050;
    $SelectiveYellow: #FFBA00;
    $LaserLemon: #FEFE22;
    $MunsellYellow: #EFCC00;
    $YellowRose: #FFF000;
    $VeryPaleYellow: #FFFFBF;
    $EarthYellow: #E1A95F;
    $YellowPantone: #FEDF00;
    $TangerineYellow: #FFCC00;
    $BronzeYellow: #737000;
    $PsychedelicYellow: #FFF53D;
    $MaizeYellowRAL: #DB9100;
    $MutedYellow: #E0D268;
    $SulfurYellow: #E8DE35;
    $YellowJasmine: #CEB00D;
    $DustyYellow: #D4CC9A;
    $YolkYellowPantone: #E2B051;
    $LightChromeYellow: #FFCA37;
    $CadmiumYellowLemon: #FFF23E;
    $VibrantYellow: #FFDA29;
    $YellowCMYK: #FFFF00;
    $FireYellow: #FEDE17;
    $BuffYellow: #F1BF70 ;
    $YellowCream: #EFDC75;
    $EmpireYellow: #F7D000;
    $ZincYellowRAL: #F2CB2E;
    $SignalYellow: #F2A900;
    $MatteYellow: #EDD94C;
    $AestheticYellow: #EFD033;
    $RusticYellow: #E2C400;
    $PaleYellow: #FFFFA7;
    $ColzaYellow: #EEB700;
    $TransparentYellow: #F4ECC2;
    $BlazingYellow: #FEE715;
    $TenderYellow: #EDEEB7;
    $PaleLimeYellow: #DFE69F;
    $VintageYellow: #CBA92B;
    $SpectrumYellow: #FCE517;
    $RetroYellow: #F0E27B;
    $OldYellow: #C8AF55;
    $ChineseYellow: #FFB200;
    $SpanishYellow: #F9D73D;
    $RefreshYellow: #FFE992;
    $SunYellowRAL: #EA9300;
    $BabyYellow: #FCEF91;
    $DahliaYellowRAL: #F39B1B ;
    $BroomYellow: #DBA400;
    $CamouflageYellow: #978942;
    $TrustYellow: #EEBE15;
    $WarmYellow: #F4E98C;
    $VividYellow: #FFE302;
    $Turmeric: #F0CA28;
    $Sunglow: #FFCC33;
    $LightSaffron: #FFE797;
    $Radioactive: #FAE500;
    $GoldenPoppy: #FCC200;
    $RealGold: #E2BF36;
    $GlossyGold: #FAE481;
    $SnapchatYellow: #FFFC00;
    $DeepChromeYellow: #FFB045;
    $MelonYellow: #FF9C00;
    $BrightCanaryYellow: #FFE41E;
    $DeepNapoliYellow: #FFCF99;
    $RadiantYellow: #FC9E21;
    $DaffodilYellow: #E28D00;
    $MineralYellow: #D39C43;
    $RelaxYellow: #F3E496;
    $RainbowYellow: #F5DE10;
    $DeepYellow: #EACE09;
    $OchreYellow: #B5904B;
    $DullYellow: #DECA57;
    $HotYellow: #FFDA00;
    $TrafficYellowRAL: #EFB700;
    $YellowOrange: #D56F00;
    $OliveYellowRAL: #9D8F65;
    $FadedYellow: #ECE3A1;
    $SolidYellow: #FFE81C;
    $GoldenYellowRAL: #DD9F00;
    $Corn: #FBEC5D;
    $Dandelion: #F0E130;
    $Icterine: #FCF75E;
    $Sandstorm: #ECD540;
    $Macaroon: #F9E076;
    $Urobilin: #E1AD21;
    $SatinSheenGold: #CBA135;
    $SchoolBusYellow: #FFD800;
    $E51Yellow: #EDC001;
    $Mimosa: #FFF4BC;
    $Marigold: #FCB810;
    $DaisyYellow: #F8DC75;
    
    /* brown */

    $Almond: #EFDECD;
    $Auburn: #A52A2A;
    $Beaver: #9F8170;
    $Beige: #F5F5DC;
    $Bisque: #FFE4C4;
    $Bistre: #3D2B1F;
    $Bole: #79443B;
    $Bone: #E3DAC9;
    $Brass: #B5A642;
    $Bronze: #CD7F32;
    $BurntUmber: #8A3324;
    $CafeAuLait: #A67B5B;
    $CafeNoir: #4B3621;
    $Champagne: #FAD6A5;
    $Cinnamon: #D2691E;
    $Coffee: #6F4E37;
    $DeepCoffee: #704241;
    $Copper: #B87333;
    $DarkBrown: #654321;
    $Taupe: #483C32;
    $Tan: #D2B48C;
    $Chestnut: #CD5C5C;
    $Sand: #F6D7B0;
    $Ecru: #C2B280;
    $Fawn: #E5AA70;
    $Ginger: #B06500;
    $GoldenBrown: #996515;
    $Khaki: #C3B091;
    $Mahogany: #C04000;
    $Ochre: #CC7722;
    $LightBrown: #B5651D;
    $Saddlebrown: #8B4513;
    $Wheat: #F5DEB3;
    $Russet: #80461B;
    $Rust: #B7410E;
    $Sepia: #704214;
    $Sienna: #A0522D;
    $AntiqueBrass: #CD9575;
    $Burlywood: #DEB887;
    $Peru: #CD853F;
    $Tumbleweed: #DEAA88;
    $DarkVanilla: #D1BEA8;
    $TuscanBrown: #6F4E37;
    $WoodBrown: #C19A6B;
    $Deer: #BA8759;
    $Chamoisee: #A0785A;
    $Dirt: #9B7653;
    $CoconutBrown: #965A3E;
    $WindsorTan: #A75502;
    $Rufous: #A81C07;
    $Acorn: #D7A98C;
    $AshBrown: #98623C;
    $AshGray: #C1B5A9;
    $AshWhite: #E9E4D4;
    $BakedBread: #DACBA9;
    $BakedPotato: #B69E87;
    $Bamboo: #E3DEC6;
    $Bark: #996633;
    $Beeswax: #E9D7AB;
    $BeigeLinen: #E2DAC6;
    $Birdseed: #E2C28E;
    $BitterChocolate: #9E5B40;
    $Brandy: #DCB68A;
    $BrownBear: #7F6244;
    $BrownBeige: #CC8833;
    $BrownCoffee: #4A2C2A;
    $BrownGray: #8D8468;
    $BrownMetal: #BBADA1;
    $BrownRed: #922B05;
    $BrownRust: #AF593E;
    $BrownStone: #593C39;
    $BrownSugar: #A17249;
    $Brownie: #964B00;
    $BrownishGray: #86775F;
    $BrownishRed: #9E3623;
    $BurntAlmond: #B0724A;
    $BurntHenna: #7E392F;
    $ButterToast: #D2AD84;
    $Buttercream: #EFE0CD;
    $ButteryBrown: #F1EBDA;
    $Camel: #C69F59;
    $CanadianMaple: #CAB266;
    $CanvasBrown: #BB8855;
    $Caramel: #AF6F09;
    $CaramelApple: #B87A59;
    $CarnalBrown: #BB8866;
    $Cashmere: #D1B399;
    $Chai: #B1832F;
    $Chamomile: #DAC395;
    $Chicory: #A78658;
    $Chocolate: #7B3F00;
    $CinnamonToast: #8D7D77;
    $CitrusBrown: #D7C275;
    $Cotton: #FAF4D4;
    $Croissant: #C4AB86;
    $DarkBeige: #AC9362;
    $DarkChestnut: #986960;
    $DarkKhaki: #9B8F55;
    $DarkSand: #9F7D4F;
    $DarkWood: #855E42;
    $DeepBrown: #410200;
    $DeepTaupe: #7B6660;
    $DesertGray: #B8A487;
    $DriedMoss: #CCB97E;
    $DullBrown: #876E4B;
    $FallHarvest: #A78A59;
    $FeatherBrown: #B8AD9E;
    $Firewood: #CEBAA8;
    $FortuneCookie: #E0C5A1;
    $FrenchBeige: #A67B50;
    $GingerAle: #C9A86A;
    $GoldenFog: #F0EAD2;
    $GrayBrown: #7F7053;
    $GrayishBrown: #7A6A4F;
    $Hardwood: #937A62;
    $HawaiianBrown: #99522C;
    $HeavyBrown: #73624A;
    $HoneyBrown: #BA9238;
    $IcedCoffee: #B18F6A;
    $Kobicha: #6B4423;
    $Lace: #EAE3D2;
    $Latte: #C5A582;
    $LightTaupe: #B38B6D;
    $MapleSugar: #C9A38D;
    $MapleSyrup: #BB9351;
    $MarsBrown: #AD6242;
    $MediumBrown: #7F5112;
    $MojaveDesert: #C7B595;
    
















$transparent: #ffffff00;

$pureBlack: #000000;
$gray: #3b3838;
$dark: #1b1b1b;
$darkGray: #2e2e2e;
$darkAsh: #414141;
$thasin: #212129;
$thasin_2: #18181a;
$darkBlue: #2d1f93;
$pureBlue: #378ffc;
$sky: #338bd5;
$danger: #FF0000;
$success: #45f248;
$alert: #fff222;
$gold: #ffdc00;
$sandyBrown:#EE9A4D;

/* px size */
$px_0: 0px;
$px_1: 1px;
$px_2: 2px;
$px_3: 3px;
$px_4: 4px;
$px_5: 5px;
$px_6: 6px;
$px_7: 7px;
$px_8: 8px;
$px_9: 9px;
$px_10: 10px;
$px_11: 11px;
$px_12: 12px;
$px_13: 13px;
$px_14: 14px;
$px_15: 15px;
$px_16: 16px;
$px_17: 17px;
$px_18: 18px;
$px_19: 19px;
$px_20: 20px;
$px_25: 25px;
$px_30: 30px;
$px_35: 35px;
$px_40: 40px;
$px_45: 45px;
$px_50: 50px;
$px_55: 55px;
$px_60: 60px;
$px_65: 65px;
$px_70: 70px;
$px_75: 75px;
$px_80: 80px;
$px_85: 85px;
$px_90: 90px;
$px_95: 95px;
$px_100: 100px;