body::after{
    content: '';//url('https://i.imgur.com/ipy0ExJ.gif'); ///media/watermark/tcssWatermark.gif🔥
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $sandyBrown;
    color: $white;
    padding: .2rem .5rem;
    margin: .1rem .1rem;
    font-size: .8rem;
    font-weight: bold;
    border: 3px solid $sandyBrown;
    border-radius: 31% 69% 67% 33% / 34% 40% 60% 66%;
    animation: watermark 20s forwards;
    animation-iteration-count: infinite;
    z-index: 100000;
}

/*body::before{
    content: '';//url('https://i.imgur.com/ipy0ExJ.gif'); ///media/watermark/tcssWatermark.gif🔥
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $gold;
    color: $white;
    padding: .3rem .6rem;
    font-size: .8rem;
    font-weight: bold;
    border: 3px solid $gold;
    border-radius: 31% 69% 67% 33% / 34% 40% 60% 66%;
    animation: watermark2 20s forwards;
    animation-iteration-count: infinite;
    z-index: 100000;
}*/

@keyframes watermark{
    0% {
        content: 'T';
        color: $white;
        background-color: $sandyBrown;
        border: 3px solid $sandyBrown;
        border-radius: 34% 66% 29% 71% / 36% 27% 73% 64% ;
    }
    10%{
        
        border-radius: 43% 57% 34% 66% / 45% 40% 60% 55% ;
    }
    20%{
        border-radius: 61% 39% 45% 55% / 31% 55% 45% 69% ;
    }
    28% {
        border-radius: 61% 39% 45% 55% / 31% 55% 45% 69% ;
    }
    30% {
        content: 'C';
        color: $white;
        background-color: $gold;
        border: 3px solid $gold;
        border-radius: 40% 60% 71% 29% / 40% 69% 31% 60% ;
    }
    40% {
        border-radius: 51% 49% 41% 59% / 71% 19% 81% 29% ;
    }
    50% {
        border-radius: 17% 83% 41% 59% / 40% 34% 66% 60% ;
    }
    58% {
        border-radius: 17% 83% 41% 59% / 40% 34% 66% 60% ;
    }
    60% {
        content: 'S';
        color: $white;
        background-color: $sandyBrown;
        border: 3px solid $sandyBrown;
        border-radius: 27% 73% 35% 65% / 47% 63% 37% 53% ;
    }
    70% {
        border-radius: 20% 80% 31% 69% / 41% 72% 28% 59% ;
    }
    80% {
        border-radius: 27% 73% 23% 77% / 42% 21% 79% 58% ;
    }
    88% {
        border-radius: 27% 73% 23% 77% / 42% 21% 79% 58% ;
    }
    90% {
        content: 'S';
        color: $white;
        background-color: $gold;
        border: 3px solid $gold;
        border-radius: 66% 34% 77% 23% / 67% 77% 23% 33% ;
    }
    100% {
        content: 'S';
        color: $white;
        border-radius: 31% 69% 66% 34% / 23% 65% 35% 77% ;
    }
    
}

/*@keyframes watermark2{
    0% {
        border-radius: 31% 69% 66% 34% / 23% 65% 35% 77% ;
        
    }
    10%{
        border-radius: 66% 34% 77% 23% / 67% 77% 23% 33% ;
    }
    20%{
        border-radius: 27% 73% 23% 77% / 42% 21% 79% 58% ;
    }
    28% {
        border-radius: 27% 73% 23% 77% / 42% 21% 79% 58% ;
    }
    30% {
        border-radius: 20% 80% 31% 69% / 41% 72% 28% 59% ;
    }
    40% {
        border-radius: 27% 73% 35% 65% / 47% 63% 37% 53% ;
    }
    50% {
        border-radius: 17% 83% 41% 59% / 40% 34% 66% 60% ;
    }
    58% {
        border-radius: 17% 83% 41% 59% / 40% 34% 66% 60% ;
    }
    60% {
        border-radius: 51% 49% 41% 59% / 71% 19% 81% 29% ;
    }
    70% {
        border-radius: 40% 60% 71% 29% / 40% 69% 31% 60% ;
    }
    80% {
        border-radius: 27% 73% 23% 77% / 42% 21% 79% 58% ;
    }
    88% {
        border-radius: 27% 73% 23% 77% / 42% 21% 79% 58% ;
    }
    90% {
        border-radius: 43% 57% 34% 66% / 45% 40% 60% 55% ;
    }
    100% {
        border-radius: 34% 66% 29% 71% / 36% 27% 73% 64% ;
    }
    
}*/
