/* width */

    $limit: 100;

    @for $hook from 0 through $limit {
        .w_#{$hook}Per {
            width: (0% + $hook);
        }

        .maxW_#{$hook}Per {
            max-width: (0% + $hook);
        }

        .w_#{$hook}vw {
            width: (0vw + $hook);
        }
    }

    $pxLimit: 1000;

    @for $hook from 0 through $pxLimit {
        .w_#{$hook} {
            width: (0px + $hook);
        }
    }